pipeline/Extraccion_Dispatch_DLB_ShiftLoads.json
{
	"name": "Extraccion_Dispatch_DLB_ShiftLoads",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_nombre_tabla",
					"value": "DLB_SHIFTLOADS"
				}
			},
			{
				"name": "Insert_Parquet_to_Delta",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy data to Shiftload-Temp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/DEV/Common_Notebooks/Insert_Parquet_to_Delta",
					"baseParameters": {
						"p_nombre_tabla": {
							"value": "@variables('v_nombre_tabla')",
							"type": "Expression"
						},
						"p_tipo_carga": "INCREMENTAL",
						"p_origen": "DISPATCH"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy data to Shiftload-Temp",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT \n       Id\n      ,[ShiftId]\n      ,[ShiftDate]\n      ,[ShiftYear]\n      ,[ShiftMonth]\n      ,[ShiftDay]\n      ,[ShiftStartTimestamp]\n      ,[ShiftEndTimestamp]\n      ,[FullShiftName]\n      ,[ShiftName]\n      ,[Shift]\n      ,[Crew]\n      ,[TruckId]\n      ,[Truck]\n      ,[TruckType]\n      ,[ExcavId]\n      ,[Excav]\n      ,[ExcavType]\n      ,[GradeId]\n      ,[Grade]\n      ,[Phase]\n      ,[Region]\n      ,[LoadLocationId]\n      ,[LoadLocation]\n      ,[LoadLocationUnit]\n      ,[LoadLocationUnitType]\n      ,[PrevDumpId]\n      ,[NextShiftDumpId]\n      ,[Tons]\n      ,[TruckSize]\n      ,[LoadfactorValue]\n      ,[Tonnage]\n      ,[ExpectedEmptyTravelDuration]\n      ,[EmptyTravelDuration]\n      ,[FullTimestamp]\n      ,[ArriveTimestamp]\n      ,[QueueTime]\n      ,[SpottingTimestamp]\n      ,[SpotTime]\n      ,[LoadingTimestamp]\n      ,[LoadingTime]\n      ,[ShovelIdleTime]\n      ,[TruckIdleTime]\n      ,[EquivalentFlatHaulDistance]\n      ,[TotalDistance]\n      ,[AssignTimestamp]\n      ,[MaterialTypeID]\n      ,[Material]\n      ,[MaterialType]\n      ,[MaterialGroupId]\n      ,[MaterialUnits]\n      ,[MaterialTypeIdx]\n      ,[MaterialGroup]\n      ,[LoadIdx]\n      ,[IsOre]\n      ,[IsWaste]\n      ,[IsTrammed]\n      ,[IsExtraload]\n      ,[TruckOperatorId]\n      ,[TruckOperatorName]\n      ,[TruckOperId]\n      ,[ExcavOperatorId]\n      ,[ExcavOperatorName]\n      ,[ExcavOperId]\n      ,[FieldGpsxtkl]\n      ,[FieldGpsytkl]\n      ,[FieldGpsxex]\n      ,[FieldGpsyex]\n      ,[hos]\n      ,[ShiftHour]\n      ,[FieldDlock]\n      ,[FieldElock]\n      ,[FieldEdlock]\n      ,[FieldRlock]\n      ,[FieldPvs3id]\n      ,[FieldFuelremain]\n      ,GETUTCDATE() as [ExtractDate]\n  FROM [DLBReports].[dbo].[DLB_ShiftLoads]\n  WHERE ShiftId between @{substring(adddays(utcnow(),-1,'yyyy-MM-dd'),2,2)}@{substring(adddays(utcnow(),-1,'yyyy-MM-dd'),5,2)}@{substring(adddays(utcnow(),-1,'yyyy-MM-dd'),8,2)}002 and @{substring(utcnow(),2,2)}@{substring(utcnow(),5,2)}@{substring(utcnow(),8,2)}002",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "Id",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "ShiftId",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "ShiftId",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "ShiftDate",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "ShiftDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ShiftYear",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "ShiftYear",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ShiftMonth",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ShiftMonth",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ShiftDay",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "ShiftDay",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ShiftStartTimestamp",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ShiftStartTimestamp",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ShiftEndTimestamp",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ShiftEndTimestamp",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "FullShiftName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FullShiftName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ShiftName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ShiftName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Shift",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Shift",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Crew",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Crew",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "TruckId",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "TruckId",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "Truck",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Truck",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "TruckType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TruckType",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ExcavId",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "ExcavId",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "Excav",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Excav",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ExcavType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ExcavType",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "GradeId",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "GradeId",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "Grade",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Grade",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Phase",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Phase",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Region",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Region",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LoadLocationId",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "LoadLocationId",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "LoadLocation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LoadLocation",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LoadLocationUnit",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LoadLocationUnit",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LoadLocationUnitType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "LoadLocationUnitType",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PrevDumpId",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "PrevDumpId",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "NextShiftDumpId",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "NextShiftDumpId",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "Tons",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Tons",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "TruckSize",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "TruckSize",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "LoadfactorValue",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "LoadfactorValue",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "Tonnage",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Tonnage",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "ExpectedEmptyTravelDuration",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ExpectedEmptyTravelDuration",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "EmptyTravelDuration",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "EmptyTravelDuration",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "FullTimestamp",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "FullTimestamp",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ArriveTimestamp",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ArriveTimestamp",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "QueueTime",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "QueueTime",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "SpottingTimestamp",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SpottingTimestamp",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "SpotTime",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "SpotTime",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "LoadingTimestamp",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LoadingTimestamp",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "LoadingTime",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "LoadingTime",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "ShovelIdleTime",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "ShovelIdleTime",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "TruckIdleTime",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "TruckIdleTime",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "EquivalentFlatHaulDistance",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "EquivalentFlatHaulDistance",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "TotalDistance",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TotalDistance",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "AssignTimestamp",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AssignTimestamp",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "MaterialTypeID",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "MaterialTypeID",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "Material",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Material",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MaterialType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MaterialType",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MaterialGroupId",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "MaterialGroupId",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "MaterialUnits",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MaterialUnits",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MaterialTypeIdx",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MaterialTypeIdx",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "MaterialGroup",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MaterialGroup",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LoadIdx",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "LoadIdx",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "IsOre",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "IsOre",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "IsWaste",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "IsWaste",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "IsTrammed",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "IsTrammed",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "IsExtraload",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "IsExtraload",
									"type": "Byte",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "TruckOperatorId",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "TruckOperatorId",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "TruckOperatorName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TruckOperatorName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "TruckOperId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TruckOperId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ExcavOperatorId",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "ExcavOperatorId",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "ExcavOperatorName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ExcavOperatorName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ExcavOperId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ExcavOperId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FieldGpsxtkl",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "FieldGpsxtkl",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "FieldGpsytkl",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "FieldGpsytkl",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "FieldGpsxex",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "FieldGpsxex",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "FieldGpsyex",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "FieldGpsyex",
									"type": "Double",
									"physicalType": "DOUBLE"
								}
							},
							{
								"source": {
									"name": "hos",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "hos",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ShiftHour",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ShiftHour",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "FieldDlock",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FieldDlock",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FieldElock",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FieldElock",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FieldEdlock",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FieldEdlock",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FieldRlock",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FieldRlock",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FieldPvs3id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FieldPvs3id",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FieldFuelremain",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FieldFuelremain",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DLB_SHIFTLOADS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DISPACH_RAWTEMP_PARAMETRIZADO",
						"type": "DatasetReference",
						"parameters": {
							"filename": "@{variables('v_nombre_tabla')}_TEMP.parquet"
						}
					}
				]
			}
		],
		"variables": {
			"v_nombre_tabla": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Dispatch/Incremental"
		},
		"annotations": [],
		"lastPublishTime": "2021-09-06T21:49:57Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}