pipeline/Extraccion_Midas_AlarmsDefinitions_HIS.json
{
	"name": "Extraccion_Midas_AlarmsDefinitions_HIS",
	"properties": {
		"activities": [
			{
				"name": "Copy data to ALARM_DEFINITIONS-His",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Alarma",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Alarma",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Definición",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Definicion",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Produce Detención",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Produce_Detencion",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Clasificación por Falla",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Clasificacion_por_Falla",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_Midas_AlarmsDefinitions",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "MIDAS_RAWHISTORY_PARAMETRIZADO",
						"type": "DatasetReference",
						"parameters": {
							"filename": "@{variables('v_nombre_tabla')}_HIS.parquet"
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_nombre_tabla",
					"value": "ALARM_DEFINITIONS"
				}
			},
			{
				"name": "Insert_Parquet_to_Delta",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy data to ALARM_DEFINITIONS-His",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/DEV/Common_Notebooks/Insert_Parquet_to_Delta",
					"baseParameters": {
						"p_nombre_tabla": {
							"value": "@variables('v_nombre_tabla')",
							"type": "Expression"
						},
						"p_tipo_carga": "HISTORICO",
						"p_origen": "MIDAS"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_nombre_tabla": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Midas/History"
		},
		"annotations": [],
		"lastPublishTime": "2021-09-08T21:33:06Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}