pipeline/Extraccion_Minecare_Trend.json
{
	"name": "Extraccion_Minecare_Trend",
	"properties": {
		"activities": [
			{
				"name": "Copy data to Trend",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT [Id]\n      ,[SiteId]\n      ,[RecordStatus]\n      ,[UpdateTime]\n      ,[TrendCategoryId]\n      ,[Name]\n      ,[Description]\n      ,[Duration]\n      ,[AggregationInterval]\n      ,[SamplingInterval]\n      ,[ConditionThreshold]\n      ,[OemParameterTypeIds]\n      ,[PrimaryOemParameterTypeId]\n      ,[ConditionExpression]\n      ,[BehaviorDescriptor]\n      ,[UserRoles]\n      ,[TrendTemplateId]\n      ,[EquipmentId]\n      ,[State]\n      ,[CreateTime]\n      ,[CreatePrincipal]\n      ,[Status]\n      ,[StatusTime]\n      ,[StatusPrincipal]\n      ,[AggregatedDataSelectorId]\n      ,[LastDataArrivalTime]\n  FROM [Minecare267].[dbo].[Trend]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "TREND",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "MINECARE_RAWTEMP_PARAMETRIZADO",
						"type": "DatasetReference",
						"parameters": {
							"filename": "@{variables('v_nombre_tabla')}_TEMP.parquet"
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_nombre_tabla",
					"value": "TREND"
				}
			},
			{
				"name": "Insert_Parquet_to_Delta",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy data to Trend",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/DEV/Common_Notebooks/Insert_Parquet_to_Delta",
					"baseParameters": {
						"p_nombre_tabla": {
							"value": "@variables('v_nombre_tabla')",
							"type": "Expression"
						},
						"p_tipo_carga": "INCREMENTAL",
						"p_origen": "MINECARE"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_nombre_tabla": {
				"type": "String",
				"defaultValue": "TREND"
			}
		},
		"folder": {
			"name": "Minecare/Incremental"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-13T21:48:06Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}