pipeline/Extraccion_Minecare_EquipmentTrackHistory_His.json
{
	"name": "Extraccion_Minecare_EquipmentTrackHistory_His",
	"properties": {
		"activities": [
			{
				"name": "Copy data To EquipmentTrackHistory_His",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT [Id]\n      ,[EquipmentId]\n      ,[SiteId]\n      ,[UpdateTime]\n      ,[ReadTime]\n      ,[Location]\n      ,[OperatorId]\n      ,[Operator]\n      ,[MaterialType]\n      ,[GpsLocation]\n      ,[LastAction]\n      ,[LastActionTime]\n      ,[NextAction]\n      ,[NextActionTime]\n      ,[ReasonCode]\n      ,[StatusId]\n      ,[ReasonCodeDescription]\n      ,[MineRealmId]\n\t  ,GETUTCDATE() as [ExtractDate]\n  FROM [Minecare267].[dbo].[EquipmentTrackHistory]\n    where [ReadTime] BETWEEN '@{pipeline().parameters.historico_desde}' and '@{pipeline().parameters.historico_hasta}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "Id",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "EquipmentId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "EquipmentId",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "SiteId",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "SiteId",
									"type": "Byte",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "UpdateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "UpdateTime",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ReadTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ReadTime",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "Location",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Location",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "OperatorId",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OperatorId",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Operator",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Operator",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MaterialType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MaterialType",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "GpsLocation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "GpsLocation",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LastAction",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LastAction",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LastActionTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LastActionTime",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "NextAction",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NextAction",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "NextActionTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "NextActionTime",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ReasonCode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ReasonCode",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "StatusId",
									"type": "Byte",
									"physicalType": "tinyint"
								},
								"sink": {
									"name": "StatusId",
									"type": "Byte",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ReasonCodeDescription",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ReasonCodeDescription",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "MineRealmId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MineRealmId",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ExtractDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ExtractDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "EQUIPMENTTRACKHISTORY",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "MINECARE_RAWHISTORY_PARAMETRIZADO",
						"type": "DatasetReference",
						"parameters": {
							"filename": "@{variables('v_nombre_tabla')}_HIS.parquet"
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_nombre_tabla",
					"value": "EQUIPMENTTRACKHISTORY"
				}
			},
			{
				"name": "Insert_Parquet_to_Delta",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy data To EquipmentTrackHistory_His",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/DEV/Common_Notebooks/Insert_Parquet_to_Delta",
					"baseParameters": {
						"p_nombre_tabla": {
							"value": "@variables('v_nombre_tabla')",
							"type": "Expression"
						},
						"p_tipo_carga": "HISTORICO",
						"p_origen": "MINECARE"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"historico_desde": {
				"type": "string"
			},
			"historico_hasta": {
				"type": "string"
			}
		},
		"variables": {
			"v_nombre_tabla": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Minecare/History"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-13T21:50:30Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}