pipeline/Extraccion_Dispatch_DLBShifState_His.json
{
	"name": "Extraccion_Dispatch_DLBShifState_His",
	"properties": {
		"activities": [
			{
				"name": "Copy data to DLBShiftState_His",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT [id]\n      ,[fieldid]\n      ,[shiftid]\n      ,[shiftname]\n      ,[fullshiftname]\n      ,[Shift]\n      ,[ShiftDate]\n      ,[ShiftHour]\n      ,[StartTime]\n      ,[EndTime]\n      ,[Timestamp]\n      ,[shiftday]\n      ,[shiftmonth]\n      ,[shiftyear]\n      ,[crew]\n      ,[duration]\n      ,[ReasonId]\n      ,[reason]\n      ,[TimeCatIdx]\n      ,[timecatid]\n      ,[Timecat]\n      ,[vEvent]\n      ,[StatusIdx]\n      ,[statusid]\n      ,[Status]\n      ,[fieldcomment]\n      ,[OperatorName]\n      ,[OperId]\n      ,[isauxil]\n      ,[unit]\n      ,[unittype]\n      ,[eqmttype]\n      ,[eqmt]\n      ,[Events]\n      ,[fieldtime]\n      ,[nextFieldTime]\n      ,[Start_hos]\n      ,[End_hos]\n      ,[GpsX]\n      ,[GpsY]\n  FROM [DLBReports].[dbo].[DLB_ShiftState]\n  WHERE ShiftDate BETWEEN  '@{pipeline().parameters.historico_desde}' and '@{pipeline().parameters.historico_hasta}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DISPATCH_DLB_SHISTSTATE_HISTORIAL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DISPACH_RAWHISTORY_PARAMETRIZADO",
						"type": "DatasetReference",
						"parameters": {
							"filename": "@{variables('v_nombre_tabla')}_HIS.parquet"
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_nombre_tabla",
					"value": "DLB_SHIFTSTATE"
				}
			},
			{
				"name": "Insert_Parquet_to_Delta",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy data to DLBShiftState_His",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/DEV/Common_Notebooks/Insert_Parquet_to_Delta",
					"baseParameters": {
						"p_nombre_tabla": {
							"value": "@variables('v_nombre_tabla')",
							"type": "Expression"
						},
						"p_tipo_carga": "HISTORICO",
						"p_origen": "DISPATCH"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"historico_desde": {
				"type": "string"
			},
			"historico_hasta": {
				"type": "string"
			}
		},
		"variables": {
			"v_nombre_tabla": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Dispatch/History"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-13T21:51:52Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}