pipeline/Extraccion_Midas_Data_Shovel_HIS.json
{
	"name": "Extraccion_Midas_Data_Shovel_HIS",
	"properties": {
		"activities": [
			{
				"name": "Copy data to DATA_SHOVEL-His",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select [MESSAGE_ID]\n      ,[DATE_TIME]\n      ,[MACHINE_IDENTIFIER]\n      ,[TYPE_OF_MACHINE]\n      ,[DIPPER_LOAD]\n      ,[CURRENT_TRUCK_LOAD]\n      ,[LAST_TRUCK_LOAD]\n      ,[SHIFT_TONS]\n      ,[LINE_VOLTAGE]\n      ,[MOTION_CONTROL_KW]\n      ,[POWER_FACTOR]\n      ,[MACHINE_KW]\n      ,[TRANSFORMER_1_TEMP]\n      ,[TRANSFORMER_2_TEMP]\n      ,[HOIST_SPEED]\n      ,[HOIST_TORQUE]\n      ,[HOIST_IW]\n      ,[HOIST_KW]\n      ,[HOIST_SPEED_REF]\n      ,[HOIST_MOTOR_TEMP]\n      ,[CROWD_EXTENSION]\n      ,[HOIST_ROPE_LENGTH]\n      ,[SWING_ANGLE]\n      ,[IGBT_MODULE_1_TEMP]\n      ,[IGBT_MODULE_2_TEMP]\n      ,[IGBT_MODULE_3_TEMP]\n      ,[IGBT_MODULE_4_TEMP]\n      ,[IGBT_MODULE_5_TEMP]\n      ,[IGBT_MODULE_6_TEMP]\n      ,[IGBT_MODULE_7_TEMP]\n      ,[HOIST_DRUM_R_BEAR_TEMP]\n      ,[HOIST_DRUM_L_BEAR_TEMP]\n      ,[HOIST_UP_IN_PINION_BEAR_TEMP]\n      ,[HOIST_LOW_IN_PINION_BEAT_TEMP]\n      ,[HOIST_MTR_R_BEAR_TEMP]\n      ,[HOIST_MTR_L_BEAR_TEMP]\n      ,[HOIST_GEARCASE_OIL_TEMP]\n      ,[HOIST_GEARCASE_OIL_PRESSURE]\n      ,[CROWD_SPEED]\n      ,[CROWD_TORQUE]\n      ,[CROWD_IW]\n      ,[CROWD_KW]\n      ,[CROWD_SPEED_REF]\n      ,[CROWD_MOTOR_TEMP]\n      ,[IGBT_MODULE_8_TEMP]\n      ,[IGBT_MODULE_9_TEMP]\n      ,[IGBT_MODULE_10_TEMP]\n      ,[IGBT_MODULE_11_TEMP]\n      ,[IGBT_MODULE_12_TEMP]\n      ,[IGBT_MODULE_13_TEMP]\n      ,[IGBT_MODULE_14_TEMP]\n      ,[BETA_ANGLE]\n      ,[CROWD_DRUM_R_BEAR_TEMP]\n      ,[CROWD_DRUM_L_BEAR_TEMP]\n      ,[CROWD_IN_SHAFT_IN_BEAR_TEMP]\n      ,[CROWD_IN_SHAFT_OUT_BEAR_TEMP]\n      ,[CROWD_1_INTER_SHAFT_IN_BEAR_TEMP]\n      ,[CROWD_1_INTER_SHAFT_OUT_BEAR_TEMP]\n      ,[CROWD_2_INTER_SHAFT_IN_BEAR_TEMP]\n      ,[CROWD_2_INTER_SHAFT_OUT_BEAR_TEMP]\n      ,[CROWD_MOTOR_R_BEAR_TEMP]\n      ,[CROWD_MOTOR_L_BEAR_TEMP]\n      ,[SWING_SPEED]\n      ,[SWING_TORQUE]\n      ,[SWING_IW]\n      ,[SWING_KW]\n      ,[SWING_MS_REF]\n      ,[SWING_1_MOTOR_TEMP]\n      ,[SWING_2_MOTOR_TEMP]\n      ,[TOTAL_TILT]\n      ,[FORE_AFT_TILT]\n      ,[SIDE_SIDE_TILT]\n      ,[CYCLE_SWING_ANGLE]\n      ,[HC_ESTIMATED_WARMUP_TIME_REMAINING]\n      ,[COOLER_INLET_TEMPERATURE]\n      ,[COOLER_OUTLET_TEMPERATURE]\n      ,[LUBE_PUMP_GEARCASE_TEMPERATURE]\n      ,[OUTSIDE_AMBIENT_AIR_TEMPERATURE]\n      ,[HOUSE_AMBIENT_AIR_TEMPERATURE]\n      ,[SWING_GEARCASE_1_UP_FORE_BEARING_TEMP]\n      ,[SWING_GEARCASE_1_LOW_AFT_BEARING_TEMP]\n      ,[SWING_MTR_1_UP_BEAR_TEMP]\n      ,[SWING_MTR_1_LOW_BEAR_TEMP]\n      ,[SWING_1_BEARING_5_TEMP]\n      ,[SWING_1_BEARING_6_TEMP]\n      ,[SWING_1_BEARING_7_TEMP]\n      ,[SWING_1_BEARING_8_TEMP]\n      ,[CYLINDER_MANIFOLD_OUTLET_TEMPERATURE]\n      ,[LOWER_HYDRAULIC_OIL_TEMPERATURE]\n      ,[UPPER_HYDRAULIC_OIL_TEMPERATURE]\n      ,[AIR_PRESSURE]\n      ,[LUBE_A1_PRESSURE]\n      ,[LUBE_A2_PRESSURE]\n      ,[LUBE_B1_PRESSURE]\n      ,[LUBE_B2_PRESSURE]\n      ,[LUBE_C1_PRESSURE]\n      ,[LUBE_C2_PRESSURE]\n      ,[SWING_GEARCASE_2_UP_FORE_BEARING_TEMP]\n      ,[SWING_GEARCASE_2_LOW_AFT_BEARING_TEMP]\n      ,[SWING_MTR_2_UP_BEAR_TEMP]\n      ,[SWING_MTR_2_LOW_BEAR_TEMP]\n      ,[SWING_2_BEARING_5_TEMP]\n      ,[SWING_2_BEARING_6_TEMP]\n      ,[SWING_2_BEARING_7_TEMP]\n      ,[SWING_2_BEARING_8_TEMP]\n      ,[STATUS_BYTE_1]\n      ,[STATUS_BYTE_2]\n      ,[STATUS_BYTE_3]\n      ,[STATUS_BYTE_4]\n      ,[STATUS_BYTE_5]\n      ,[STATUS_BYTE_6]\n      ,[HC_STATES_BYTE_1]\n      ,[HC_STATES_BYTE_2]\n      ,[HC_STATES_BYTE_3]\n      ,[HC_STATES_BYTE_4]\n      ,[WARMUP_SEQUENCE_1]\n      ,[WARMUP_SEQUENCE_2]\n      ,[LUBE_PUMP_GEARCASE_PRESSURE]\n      ,[RETURN_FILTER_SENSOR_PRESSURE]\n      ,[CROWD_PRESSURE_TRANSDUCER_CAP]\n      ,[CROWD_PRESSURE_TRANSDUCER_ROD]\n      ,[CYLINDER_MANIFOLD_OUTLET_PRESSURE]\n      ,[PUMP_MANIFOLD_OUTLET_PRESSURE]\n      ,[CROWD_POSITION_SENSOR_VELOCITY]\n      ,[CROWD_POSITION_SENSOR_POSITION]\n      ,[CROWD_MOTOR_TACOMETER_SPEED]\n      ,[CROWD_MASTER_SWITCH_REFERENCE]\n      ,[CROWD_MOTOR_TORQUE]\n      ,[PLC_PERCENT_REF_TO_DRIVE]\n      ,[PUMP_CASE_DRAIN_MONITOR_1]\n      ,[PUMP_CASE_DRAIN_MONITOR_2]\n      ,[PUMP_CASE_DRAIN_MONITOR_3]\n      ,[PUMP_CASE_DRAIN_MONITOR_4]\n      ,[MACHINE_OPERATING_HOURS]\n      ,[OPERATOR_ID]\n      ,[Spare7]\n      ,[BUS_ON]\n      ,[BUS_FAULT]\n      ,[AIR_PRESSURE_OK]\n      ,[HOIST_OK]\n      ,[CROWD_OK]\n      ,[SWING_OK]\n      ,[PROPEL_OK]\n      ,[LUBE_A_OK]\n      ,[LUBE_B_OK]\n      ,[LUBE_C_OK]\n      ,[BOOM_JACK]\n      ,[LINE_OK]\n      ,[BEARING_TEMP_OK]\n      ,[GEARBOX_TEMP_OK]\n      ,[HOIST_LIMITS]\n      ,[CROWD_LIMITS]\n      ,[DIPPER_TRIP]\n      ,[DIG_MODE]\n      ,[LUBE_A1_OK]\n      ,[LUBE_A2_OK]\n      ,[LUBE_B1_OK]\n      ,[LUBE_B2_OK]\n      ,[LUBE_C1_OK]\n      ,[LUBE_C2_OK]\n      ,[CROWD_STOP_LIMIT]\n      ,[RET_STOP_LIMIT]\n      ,[HOIST_STOP_LIMIT]\n      ,[LOWER_STOP_LIMIT]\n      ,[INC_SEQ_FAULT]\n      ,[BOOM_JACK_FAULT]\n      ,[SYSTEM_READY]\n      ,[CROWD_FAULT]\n      ,[HOIST_FAULT]\n      ,[SWING_FAULT]\n      ,[AFE_FAULT]\n      ,[CROWD_BRAKE_RELEASE]\n      ,[HOIST_BRAKE_RELEASE]\n      ,[SWING_BRAKE_RELEASE]\n      ,[PROPEL_BRAKE_RELEASE]\n      ,[DIG_PROPEL_MODE]\n      ,[CROWDING_OR_L_PROPEL_FWD]\n      ,[RETRACTING_OR_L_PROPEL_REV]\n      ,[HOISTING_OR_R_PROPEL_FWD]\n      ,[LOWERING_OR_R_PROPEL_REV]\n      ,[SWING_RIGHT]\n      ,[SWING_LEFT]\n      ,[DIPPER_TRIP_1]\n      ,[SPARE_8]\n      ,[TANK_ISOLATION_SWITCH_1]\n      ,[TANK_ISOLATION_SWITCH_2]\n      ,[TANK_ISOLATION_SWITCH_3]\n      ,[TANK_ISOLATION_SWITCH_4]\n      ,[LOW_OIL_SHUTDOWN_SENSOR]\n      ,[LOW_OIL_WARNING_SENSOR]\n      ,[HIGH_OIL_SHUTDOWN_SENSOR]\n      ,[CLOGGED_CIRCULATION_FILTER_SWITCH]\n      ,[PUMP_UPLOADING_VALVE_1]\n      ,[PUMP_UPLOADING_VALVE_2]\n      ,[PUMP_UPLOADING_VALVE_3]\n      ,[PUMP_UPLOADING_VALVE_4]\n      ,[PUMP_ISOLATION_CHECK_VALVE_1]\n      ,[PUMP_ISOLATION_CHECK_VALVE_2]\n      ,[PUMP_ISOLATION_CHECK_VALVE_3]\n      ,[PUMP_ISOLATION_CHECK_VALVE_4]\n      ,[COUTERBALANCE_VALVE_EXTEND]\n      ,[COUTERBALANCE_VALVE_RETRACT]\n      ,[COUTERBALANCE_VALVE_HEATING]\n      ,[CROWD_RE_GEN_VALVE]\n      ,[ROD_END_INLET_CHECK_VALVE]\n      ,[ROD_END_COUNTERBALANCE_CHECK_VALVE]\n      ,[IMMERSION_HEATER_LOWER_TANK_CONTACTOR]\n      ,[IMMERSION_HEATER_UPPER_TANK_CONTACTOR]\n      ,[HYDRAULIC_OIL_COOLER_CONTROL_VALVE]\n      ,[OIL_CIRCULATION_PUMP_CONTROL_1800]\n      ,[OIL_CIRCULATION_PUMP_CONTROL_900]\n      ,[PUMP_FLUSHING_AND_LUBE_PUMP_CONTROL]\n      ,[SPARE_9]\n      ,[SPARE_10]\n      ,[SPARE_11]\n      ,[SPARE_12]\n      ,[CYCLE_COUNT]\n      ,[HOIST_FAULT_COUNT]\n      ,[CROWD_FAULT_COUNT]\n      ,[SWING_FAULT_COUNT]\n      ,[PROPEL_FAULT_COUNT]\n      ,[BOOM_JACK_FAULT_COUNT]\n      ,[AFE_FAULT_COUNT]\n      ,[IDLE_TIME]\n      ,[PROPEL_TIME]\n      ,[DIG_TIME]\n      ,[CYCLE_TIME]\n      ,[NEW_TRUCK_COUNT]\n      ,[NEW_TRUCK_TIME]\n      ,[LUBE_A1_PRESSURE_COUNT]\n      ,[LUBE_A2_PRESSURE_COUNT]\n      ,[LUBE_A3_PRESSURE_COUNT]\n      ,[LUBE_A4_PRESSURE_COUNT]\n      ,[LUBE_A5_PRESSURE_COUNT]\n      ,[LUBE_A6_PRESSURE_COUNT]\n      ,[LUBE_A1_CYCLE_TIME]\n      ,[LUBE_A2_CYCLE_TIME]\n      ,[LUBE_A3_CYCLE_TIME]\n      ,[LUBE_A4_CYCLE_TIME]\n      ,[LUBE_A5_CYCLE_TIME]\n      ,[LUBE_A6_CYCLE_TIME]\n      ,[CROWD_STOP_LIMIT_EXTENSION]\n      ,[RET_STOP_LIMIT_EXTENSION]\n      ,[HOIST_STOP_LIMIT_EXTENSION]\n      ,[LOWER_STOP_LIMIT_EXTENSION]\n      ,[BOOM_JACK_FAULT_EXTENSION]\nFROM\n(\nSELECT [MESSAGE_ID]\n      ,[DATE_TIME]\n      ,[MACHINE_IDENTIFIER]\n      ,[TYPE_OF_MACHINE]\n      ,[DIPPER_LOAD]\n      ,[CURRENT_TRUCK_LOAD]\n      ,[LAST_TRUCK_LOAD]\n      ,[SHIFT_TONS]\n      ,[LINE_VOLTAGE]\n      ,[MOTION_CONTROL_KW]\n      ,[POWER_FACTOR]\n      ,[MACHINE_KW]\n      ,[TRANSFORMER_1_TEMP]\n      ,[TRANSFORMER_2_TEMP]\n      ,[HOIST_SPEED]\n      ,[HOIST_TORQUE]\n      ,[HOIST_IW]\n      ,[HOIST_KW]\n      ,[HOIST_SPEED_REF]\n      ,[HOIST_MOTOR_TEMP]\n      ,[CROWD_EXTENSION]\n      ,[HOIST_ROPE_LENGTH]\n      ,[SWING_ANGLE]\n      ,[IGBT_MODULE_1_TEMP]\n      ,[IGBT_MODULE_2_TEMP]\n      ,[IGBT_MODULE_3_TEMP]\n      ,[IGBT_MODULE_4_TEMP]\n      ,[IGBT_MODULE_5_TEMP]\n      ,[IGBT_MODULE_6_TEMP]\n      ,[IGBT_MODULE_7_TEMP]\n      ,[HOIST_DRUM_R_BEAR_TEMP]\n      ,[HOIST_DRUM_L_BEAR_TEMP]\n      ,[HOIST_UP_IN_PINION_BEAR_TEMP]\n      ,[HOIST_LOW_IN_PINION_BEAT_TEMP]\n      ,[HOIST_MTR_R_BEAR_TEMP]\n      ,[HOIST_MTR_L_BEAR_TEMP]\n      ,[HOIST_GEARCASE_OIL_TEMP]\n      ,[HOIST_GEARCASE_OIL_PRESSURE]\n      ,[CROWD_SPEED]\n      ,[CROWD_TORQUE]\n      ,[CROWD_IW]\n      ,[CROWD_KW]\n      ,[CROWD_SPEED_REF]\n      ,[CROWD_MOTOR_TEMP]\n      ,[IGBT_MODULE_8_TEMP]\n      ,[IGBT_MODULE_9_TEMP]\n      ,[IGBT_MODULE_10_TEMP]\n      ,[IGBT_MODULE_11_TEMP]\n      ,[IGBT_MODULE_12_TEMP]\n      ,[IGBT_MODULE_13_TEMP]\n      ,[IGBT_MODULE_14_TEMP]\n      ,[BETA_ANGLE]\n      ,[CROWD_DRUM_R_BEAR_TEMP]\n      ,[CROWD_DRUM_L_BEAR_TEMP]\n      ,[CROWD_IN_SHAFT_IN_BEAR_TEMP]\n      ,[CROWD_IN_SHAFT_OUT_BEAR_TEMP]\n      ,[CROWD_1_INTER_SHAFT_IN_BEAR_TEMP]\n      ,[CROWD_1_INTER_SHAFT_OUT_BEAR_TEMP]\n      ,[CROWD_2_INTER_SHAFT_IN_BEAR_TEMP]\n      ,[CROWD_2_INTER_SHAFT_OUT_BEAR_TEMP]\n      ,[CROWD_MOTOR_R_BEAR_TEMP]\n      ,[CROWD_MOTOR_L_BEAR_TEMP]\n      ,[SWING_SPEED]\n      ,[SWING_TORQUE]\n      ,[SWING_IW]\n      ,[SWING_KW]\n      ,[SWING_MS_REF]\n      ,[SWING_1_MOTOR_TEMP]\n      ,[SWING_2_MOTOR_TEMP]\n      ,[TOTAL_TILT]\n      ,[FORE_AFT_TILT]\n      ,[SIDE_SIDE_TILT]\n      ,[CYCLE_SWING_ANGLE]\n      ,[HC_ESTIMATED_WARMUP_TIME_REMAINING]\n      ,[COOLER_INLET_TEMPERATURE]\n      ,[COOLER_OUTLET_TEMPERATURE]\n      ,[LUBE_PUMP_GEARCASE_TEMPERATURE]\n      ,[OUTSIDE_AMBIENT_AIR_TEMPERATURE]\n      ,[HOUSE_AMBIENT_AIR_TEMPERATURE]\n      ,[SWING_GEARCASE_1_UP_FORE_BEARING_TEMP]\n      ,[SWING_GEARCASE_1_LOW_AFT_BEARING_TEMP]\n      ,[SWING_MTR_1_UP_BEAR_TEMP]\n      ,[SWING_MTR_1_LOW_BEAR_TEMP]\n      ,[SWING_1_BEARING_5_TEMP]\n      ,[SWING_1_BEARING_6_TEMP]\n      ,[SWING_1_BEARING_7_TEMP]\n      ,[SWING_1_BEARING_8_TEMP]\n      ,[CYLINDER_MANIFOLD_OUTLET_TEMPERATURE]\n      ,[LOWER_HYDRAULIC_OIL_TEMPERATURE]\n      ,[UPPER_HYDRAULIC_OIL_TEMPERATURE]\n      ,[AIR_PRESSURE]\n      ,[LUBE_A1_PRESSURE]\n      ,[LUBE_A2_PRESSURE]\n      ,[LUBE_B1_PRESSURE]\n      ,[LUBE_B2_PRESSURE]\n      ,[LUBE_C1_PRESSURE]\n      ,[LUBE_C2_PRESSURE]\n      ,[SWING_GEARCASE_2_UP_FORE_BEARING_TEMP]\n      ,[SWING_GEARCASE_2_LOW_AFT_BEARING_TEMP]\n      ,[SWING_MTR_2_UP_BEAR_TEMP]\n      ,[SWING_MTR_2_LOW_BEAR_TEMP]\n      ,[SWING_2_BEARING_5_TEMP]\n      ,[SWING_2_BEARING_6_TEMP]\n      ,[SWING_2_BEARING_7_TEMP]\n      ,[SWING_2_BEARING_8_TEMP]\n      ,[STATUS_BYTE_1]\n      ,[STATUS_BYTE_2]\n      ,[STATUS_BYTE_3]\n      ,[STATUS_BYTE_4]\n      ,[STATUS_BYTE_5]\n      ,[STATUS_BYTE_6]\n      ,[HC_STATES_BYTE_1]\n      ,[HC_STATES_BYTE_2]\n      ,[HC_STATES_BYTE_3]\n      ,[HC_STATES_BYTE_4]\n      ,[WARMUP_SEQUENCE_1]\n      ,[WARMUP_SEQUENCE_2]\n      ,[LUBE_PUMP_GEARCASE_PRESSURE]\n      ,[RETURN_FILTER_SENSOR_PRESSURE]\n      ,[CROWD_PRESSURE_TRANSDUCER_CAP]\n      ,[CROWD_PRESSURE_TRANSDUCER_ROD]\n      ,[CYLINDER_MANIFOLD_OUTLET_PRESSURE]\n      ,[PUMP_MANIFOLD_OUTLET_PRESSURE]\n      ,[CROWD_POSITION_SENSOR_VELOCITY]\n      ,[CROWD_POSITION_SENSOR_POSITION]\n      ,[CROWD_MOTOR_TACOMETER_SPEED]\n      ,[CROWD_MASTER_SWITCH_REFERENCE]\n      ,[CROWD_MOTOR_TORQUE]\n      ,[PLC_PERCENT_REF_TO_DRIVE]\n      ,[PUMP_CASE_DRAIN_MONITOR_1]\n      ,[PUMP_CASE_DRAIN_MONITOR_2]\n      ,[PUMP_CASE_DRAIN_MONITOR_3]\n      ,[PUMP_CASE_DRAIN_MONITOR_4]\n      ,[MACHINE_OPERATING_HOURS]\n      ,[OPERATOR_ID]\n      ,[Spare7]\n      ,[BUS_ON]\n      ,[BUS_FAULT]\n      ,[AIR_PRESSURE_OK]\n      ,[HOIST_OK]\n      ,[CROWD_OK]\n      ,[SWING_OK]\n      ,[PROPEL_OK]\n      ,[LUBE_A_OK]\n      ,[LUBE_B_OK]\n      ,[LUBE_C_OK]\n      ,[BOOM_JACK]\n      ,[LINE_OK]\n      ,[BEARING_TEMP_OK]\n      ,[GEARBOX_TEMP_OK]\n      ,[HOIST_LIMITS]\n      ,[CROWD_LIMITS]\n      ,[DIPPER_TRIP]\n      ,[DIG_MODE]\n      ,[LUBE_A1_OK]\n      ,[LUBE_A2_OK]\n      ,[LUBE_B1_OK]\n      ,[LUBE_B2_OK]\n      ,[LUBE_C1_OK]\n      ,[LUBE_C2_OK]\n      ,[CROWD_STOP_LIMIT]\n      ,[RET_STOP_LIMIT]\n      ,[HOIST_STOP_LIMIT]\n      ,[LOWER_STOP_LIMIT]\n      ,[INC_SEQ_FAULT]\n      ,[BOOM_JACK_FAULT]\n      ,[SYSTEM_READY]\n      ,[CROWD_FAULT]\n      ,[HOIST_FAULT]\n      ,[SWING_FAULT]\n      ,[AFE_FAULT]\n      ,[CROWD_BRAKE_RELEASE]\n      ,[HOIST_BRAKE_RELEASE]\n      ,[SWING_BRAKE_RELEASE]\n      ,[PROPEL_BRAKE_RELEASE]\n      ,[DIG_PROPEL_MODE]\n      ,[CROWDING_OR_L_PROPEL_FWD]\n      ,[RETRACTING_OR_L_PROPEL_REV]\n      ,[HOISTING_OR_R_PROPEL_FWD]\n      ,[LOWERING_OR_R_PROPEL_REV]\n      ,[SWING_RIGHT]\n      ,[SWING_LEFT]\n      ,[DIPPER_TRIP_1]\n      ,[SPARE_8]\n      ,[TANK_ISOLATION_SWITCH_1]\n      ,[TANK_ISOLATION_SWITCH_2]\n      ,[TANK_ISOLATION_SWITCH_3]\n      ,[TANK_ISOLATION_SWITCH_4]\n      ,[LOW_OIL_SHUTDOWN_SENSOR]\n      ,[LOW_OIL_WARNING_SENSOR]\n      ,[HIGH_OIL_SHUTDOWN_SENSOR]\n      ,[CLOGGED_CIRCULATION_FILTER_SWITCH]\n      ,[PUMP_UPLOADING_VALVE_1]\n      ,[PUMP_UPLOADING_VALVE_2]\n      ,[PUMP_UPLOADING_VALVE_3]\n      ,[PUMP_UPLOADING_VALVE_4]\n      ,[PUMP_ISOLATION_CHECK_VALVE_1]\n      ,[PUMP_ISOLATION_CHECK_VALVE_2]\n      ,[PUMP_ISOLATION_CHECK_VALVE_3]\n      ,[PUMP_ISOLATION_CHECK_VALVE_4]\n      ,[COUTERBALANCE_VALVE_EXTEND]\n      ,[COUTERBALANCE_VALVE_RETRACT]\n      ,[COUTERBALANCE_VALVE_HEATING]\n      ,[CROWD_RE_GEN_VALVE]\n      ,[ROD_END_INLET_CHECK_VALVE]\n      ,[ROD_END_COUNTERBALANCE_CHECK_VALVE]\n      ,[IMMERSION_HEATER_LOWER_TANK_CONTACTOR]\n      ,[IMMERSION_HEATER_UPPER_TANK_CONTACTOR]\n      ,[HYDRAULIC_OIL_COOLER_CONTROL_VALVE]\n      ,[OIL_CIRCULATION_PUMP_CONTROL_1800]\n      ,[OIL_CIRCULATION_PUMP_CONTROL_900]\n      ,[PUMP_FLUSHING_AND_LUBE_PUMP_CONTROL]\n      ,[SPARE_9]\n      ,[SPARE_10]\n      ,[SPARE_11]\n      ,[SPARE_12]\n      ,[CYCLE_COUNT]\n      ,[HOIST_FAULT_COUNT]\n      ,[CROWD_FAULT_COUNT]\n      ,[SWING_FAULT_COUNT]\n      ,[PROPEL_FAULT_COUNT]\n      ,[BOOM_JACK_FAULT_COUNT]\n      ,[AFE_FAULT_COUNT]\n      ,[IDLE_TIME]\n      ,[PROPEL_TIME]\n      ,[DIG_TIME]\n      ,[CYCLE_TIME]\n      ,[NEW_TRUCK_COUNT]\n      ,[NEW_TRUCK_TIME]\n      ,[LUBE_A1_PRESSURE_COUNT]\n      ,[LUBE_A2_PRESSURE_COUNT]\n      ,[LUBE_A3_PRESSURE_COUNT]\n      ,[LUBE_A4_PRESSURE_COUNT]\n      ,[LUBE_A5_PRESSURE_COUNT]\n      ,[LUBE_A6_PRESSURE_COUNT]\n      ,[LUBE_A1_CYCLE_TIME]\n      ,[LUBE_A2_CYCLE_TIME]\n      ,[LUBE_A3_CYCLE_TIME]\n      ,[LUBE_A4_CYCLE_TIME]\n      ,[LUBE_A5_CYCLE_TIME]\n      ,[LUBE_A6_CYCLE_TIME]\n      ,[CROWD_STOP_LIMIT_EXTENSION]\n      ,[RET_STOP_LIMIT_EXTENSION]\n      ,[HOIST_STOP_LIMIT_EXTENSION]\n      ,[LOWER_STOP_LIMIT_EXTENSION]\n      ,[BOOM_JACK_FAULT_EXTENSION]\n  FROM  [dbo].[MachineDataDaily] \n  where DATE_TIME >= '@{pipeline().parameters.historico_desde}'   and DATE_TIME < '@{pipeline().parameters.historico_hasta}' UNION\nSELECT [MESSAGE_ID]\n      ,[DATE_TIME]\n      ,[MACHINE_IDENTIFIER]\n      ,[TYPE_OF_MACHINE]\n      ,[DIPPER_LOAD]\n      ,[CURRENT_TRUCK_LOAD]\n      ,[LAST_TRUCK_LOAD]\n      ,[SHIFT_TONS]\n      ,[LINE_VOLTAGE]\n      ,[MOTION_CONTROL_KW]\n      ,[POWER_FACTOR]\n      ,[MACHINE_KW]\n      ,[TRANSFORMER_1_TEMP]\n      ,[TRANSFORMER_2_TEMP]\n      ,[HOIST_SPEED]\n      ,[HOIST_TORQUE]\n      ,[HOIST_IW]\n      ,[HOIST_KW]\n      ,[HOIST_SPEED_REF]\n      ,[HOIST_MOTOR_TEMP]\n      ,[CROWD_EXTENSION]\n      ,[HOIST_ROPE_LENGTH]\n      ,[SWING_ANGLE]\n      ,[IGBT_MODULE_1_TEMP]\n      ,[IGBT_MODULE_2_TEMP]\n      ,[IGBT_MODULE_3_TEMP]\n      ,[IGBT_MODULE_4_TEMP]\n      ,[IGBT_MODULE_5_TEMP]\n      ,[IGBT_MODULE_6_TEMP]\n      ,[IGBT_MODULE_7_TEMP]\n      ,[HOIST_DRUM_R_BEAR_TEMP]\n      ,[HOIST_DRUM_L_BEAR_TEMP]\n      ,[HOIST_UP_IN_PINION_BEAR_TEMP]\n      ,[HOIST_LOW_IN_PINION_BEAT_TEMP]\n      ,[HOIST_MTR_R_BEAR_TEMP]\n      ,[HOIST_MTR_L_BEAR_TEMP]\n      ,[HOIST_GEARCASE_OIL_TEMP]\n      ,[HOIST_GEARCASE_OIL_PRESSURE]\n      ,[CROWD_SPEED]\n      ,[CROWD_TORQUE]\n      ,[CROWD_IW]\n      ,[CROWD_KW]\n      ,[CROWD_SPEED_REF]\n      ,[CROWD_MOTOR_TEMP]\n      ,[IGBT_MODULE_8_TEMP]\n      ,[IGBT_MODULE_9_TEMP]\n      ,[IGBT_MODULE_10_TEMP]\n      ,[IGBT_MODULE_11_TEMP]\n      ,[IGBT_MODULE_12_TEMP]\n      ,[IGBT_MODULE_13_TEMP]\n      ,[IGBT_MODULE_14_TEMP]\n      ,[BETA_ANGLE]\n      ,[CROWD_DRUM_R_BEAR_TEMP]\n      ,[CROWD_DRUM_L_BEAR_TEMP]\n      ,[CROWD_IN_SHAFT_IN_BEAR_TEMP]\n      ,[CROWD_IN_SHAFT_OUT_BEAR_TEMP]\n      ,[CROWD_1_INTER_SHAFT_IN_BEAR_TEMP]\n      ,[CROWD_1_INTER_SHAFT_OUT_BEAR_TEMP]\n      ,[CROWD_2_INTER_SHAFT_IN_BEAR_TEMP]\n      ,[CROWD_2_INTER_SHAFT_OUT_BEAR_TEMP]\n      ,[CROWD_MOTOR_R_BEAR_TEMP]\n      ,[CROWD_MOTOR_L_BEAR_TEMP]\n      ,[SWING_SPEED]\n      ,[SWING_TORQUE]\n      ,[SWING_IW]\n      ,[SWING_KW]\n      ,[SWING_MS_REF]\n      ,[SWING_1_MOTOR_TEMP]\n      ,[SWING_2_MOTOR_TEMP]\n      ,[TOTAL_TILT]\n      ,[FORE_AFT_TILT]\n      ,[SIDE_SIDE_TILT]\n      ,[CYCLE_SWING_ANGLE]\n      ,[HC_ESTIMATED_WARMUP_TIME_REMAINING]\n      ,[COOLER_INLET_TEMPERATURE]\n      ,[COOLER_OUTLET_TEMPERATURE]\n      ,[LUBE_PUMP_GEARCASE_TEMPERATURE]\n      ,[OUTSIDE_AMBIENT_AIR_TEMPERATURE]\n      ,[HOUSE_AMBIENT_AIR_TEMPERATURE]\n      ,[SWING_GEARCASE_1_UP_FORE_BEARING_TEMP]\n      ,[SWING_GEARCASE_1_LOW_AFT_BEARING_TEMP]\n      ,[SWING_MTR_1_UP_BEAR_TEMP]\n      ,[SWING_MTR_1_LOW_BEAR_TEMP]\n      ,[SWING_1_BEARING_5_TEMP]\n      ,[SWING_1_BEARING_6_TEMP]\n      ,[SWING_1_BEARING_7_TEMP]\n      ,[SWING_1_BEARING_8_TEMP]\n      ,[CYLINDER_MANIFOLD_OUTLET_TEMPERATURE]\n      ,[LOWER_HYDRAULIC_OIL_TEMPERATURE]\n      ,[UPPER_HYDRAULIC_OIL_TEMPERATURE]\n      ,[AIR_PRESSURE]\n      ,[LUBE_A1_PRESSURE]\n      ,[LUBE_A2_PRESSURE]\n      ,[LUBE_B1_PRESSURE]\n      ,[LUBE_B2_PRESSURE]\n      ,[LUBE_C1_PRESSURE]\n      ,[LUBE_C2_PRESSURE]\n      ,[SWING_GEARCASE_2_UP_FORE_BEARING_TEMP]\n      ,[SWING_GEARCASE_2_LOW_AFT_BEARING_TEMP]\n      ,[SWING_MTR_2_UP_BEAR_TEMP]\n      ,[SWING_MTR_2_LOW_BEAR_TEMP]\n      ,[SWING_2_BEARING_5_TEMP]\n      ,[SWING_2_BEARING_6_TEMP]\n      ,[SWING_2_BEARING_7_TEMP]\n      ,[SWING_2_BEARING_8_TEMP]\n      ,[STATUS_BYTE_1]\n      ,[STATUS_BYTE_2]\n      ,[STATUS_BYTE_3]\n      ,[STATUS_BYTE_4]\n      ,[STATUS_BYTE_5]\n      ,[STATUS_BYTE_6]\n      ,[HC_STATES_BYTE_1]\n      ,[HC_STATES_BYTE_2]\n      ,[HC_STATES_BYTE_3]\n      ,[HC_STATES_BYTE_4]\n      ,[WARMUP_SEQUENCE_1]\n      ,[WARMUP_SEQUENCE_2]\n      ,[LUBE_PUMP_GEARCASE_PRESSURE]\n      ,[RETURN_FILTER_SENSOR_PRESSURE]\n      ,[CROWD_PRESSURE_TRANSDUCER_CAP]\n      ,[CROWD_PRESSURE_TRANSDUCER_ROD]\n      ,[CYLINDER_MANIFOLD_OUTLET_PRESSURE]\n      ,[PUMP_MANIFOLD_OUTLET_PRESSURE]\n      ,[CROWD_POSITION_SENSOR_VELOCITY]\n      ,[CROWD_POSITION_SENSOR_POSITION]\n      ,[CROWD_MOTOR_TACOMETER_SPEED]\n      ,[CROWD_MASTER_SWITCH_REFERENCE]\n      ,[CROWD_MOTOR_TORQUE]\n      ,[PLC_PERCENT_REF_TO_DRIVE]\n      ,[PUMP_CASE_DRAIN_MONITOR_1]\n      ,[PUMP_CASE_DRAIN_MONITOR_2]\n      ,[PUMP_CASE_DRAIN_MONITOR_3]\n      ,[PUMP_CASE_DRAIN_MONITOR_4]\n      ,[MACHINE_OPERATING_HOURS]\n      ,[OPERATOR_ID]\n      ,[Spare7]\n      ,[BUS_ON]\n      ,[BUS_FAULT]\n      ,[AIR_PRESSURE_OK]\n      ,[HOIST_OK]\n      ,[CROWD_OK]\n      ,[SWING_OK]\n      ,[PROPEL_OK]\n      ,[LUBE_A_OK]\n      ,[LUBE_B_OK]\n      ,[LUBE_C_OK]\n      ,[BOOM_JACK]\n      ,[LINE_OK]\n      ,[BEARING_TEMP_OK]\n      ,[GEARBOX_TEMP_OK]\n      ,[HOIST_LIMITS]\n      ,[CROWD_LIMITS]\n      ,[DIPPER_TRIP]\n      ,[DIG_MODE]\n      ,[LUBE_A1_OK]\n      ,[LUBE_A2_OK]\n      ,[LUBE_B1_OK]\n      ,[LUBE_B2_OK]\n      ,[LUBE_C1_OK]\n      ,[LUBE_C2_OK]\n      ,[CROWD_STOP_LIMIT]\n      ,[RET_STOP_LIMIT]\n      ,[HOIST_STOP_LIMIT]\n      ,[LOWER_STOP_LIMIT]\n      ,[INC_SEQ_FAULT]\n      ,[BOOM_JACK_FAULT]\n      ,[SYSTEM_READY]\n      ,[CROWD_FAULT]\n      ,[HOIST_FAULT]\n      ,[SWING_FAULT]\n      ,[AFE_FAULT]\n      ,[CROWD_BRAKE_RELEASE]\n      ,[HOIST_BRAKE_RELEASE]\n      ,[SWING_BRAKE_RELEASE]\n      ,[PROPEL_BRAKE_RELEASE]\n      ,[DIG_PROPEL_MODE]\n      ,[CROWDING_OR_L_PROPEL_FWD]\n      ,[RETRACTING_OR_L_PROPEL_REV]\n      ,[HOISTING_OR_R_PROPEL_FWD]\n      ,[LOWERING_OR_R_PROPEL_REV]\n      ,[SWING_RIGHT]\n      ,[SWING_LEFT]\n      ,[DIPPER_TRIP_1]\n      ,[SPARE_8]\n      ,[TANK_ISOLATION_SWITCH_1]\n      ,[TANK_ISOLATION_SWITCH_2]\n      ,[TANK_ISOLATION_SWITCH_3]\n      ,[TANK_ISOLATION_SWITCH_4]\n      ,[LOW_OIL_SHUTDOWN_SENSOR]\n      ,[LOW_OIL_WARNING_SENSOR]\n      ,[HIGH_OIL_SHUTDOWN_SENSOR]\n      ,[CLOGGED_CIRCULATION_FILTER_SWITCH]\n      ,[PUMP_UPLOADING_VALVE_1]\n      ,[PUMP_UPLOADING_VALVE_2]\n      ,[PUMP_UPLOADING_VALVE_3]\n      ,[PUMP_UPLOADING_VALVE_4]\n      ,[PUMP_ISOLATION_CHECK_VALVE_1]\n      ,[PUMP_ISOLATION_CHECK_VALVE_2]\n      ,[PUMP_ISOLATION_CHECK_VALVE_3]\n      ,[PUMP_ISOLATION_CHECK_VALVE_4]\n      ,[COUTERBALANCE_VALVE_EXTEND]\n      ,[COUTERBALANCE_VALVE_RETRACT]\n      ,[COUTERBALANCE_VALVE_HEATING]\n      ,[CROWD_RE_GEN_VALVE]\n      ,[ROD_END_INLET_CHECK_VALVE]\n      ,[ROD_END_COUNTERBALANCE_CHECK_VALVE]\n      ,[IMMERSION_HEATER_LOWER_TANK_CONTACTOR]\n      ,[IMMERSION_HEATER_UPPER_TANK_CONTACTOR]\n      ,[HYDRAULIC_OIL_COOLER_CONTROL_VALVE]\n      ,[OIL_CIRCULATION_PUMP_CONTROL_1800]\n      ,[OIL_CIRCULATION_PUMP_CONTROL_900]\n      ,[PUMP_FLUSHING_AND_LUBE_PUMP_CONTROL]\n      ,[SPARE_9]\n      ,[SPARE_10]\n      ,[SPARE_11]\n      ,[SPARE_12]\n      ,[CYCLE_COUNT]\n      ,[HOIST_FAULT_COUNT]\n      ,[CROWD_FAULT_COUNT]\n      ,[SWING_FAULT_COUNT]\n      ,[PROPEL_FAULT_COUNT]\n      ,[BOOM_JACK_FAULT_COUNT]\n      ,[AFE_FAULT_COUNT]\n      ,[IDLE_TIME]\n      ,[PROPEL_TIME]\n      ,[DIG_TIME]\n      ,[CYCLE_TIME]\n      ,[NEW_TRUCK_COUNT]\n      ,[NEW_TRUCK_TIME]\n      ,[LUBE_A1_PRESSURE_COUNT]\n      ,[LUBE_A2_PRESSURE_COUNT]\n      ,[LUBE_A3_PRESSURE_COUNT]\n      ,[LUBE_A4_PRESSURE_COUNT]\n      ,[LUBE_A5_PRESSURE_COUNT]\n      ,[LUBE_A6_PRESSURE_COUNT]\n      ,[LUBE_A1_CYCLE_TIME]\n      ,[LUBE_A2_CYCLE_TIME]\n      ,[LUBE_A3_CYCLE_TIME]\n      ,[LUBE_A4_CYCLE_TIME]\n      ,[LUBE_A5_CYCLE_TIME]\n      ,[LUBE_A6_CYCLE_TIME]\n      ,[CROWD_STOP_LIMIT_EXTENSION]\n      ,[RET_STOP_LIMIT_EXTENSION]\n      ,[HOIST_STOP_LIMIT_EXTENSION]\n      ,[LOWER_STOP_LIMIT_EXTENSION]\n      ,[BOOM_JACK_FAULT_EXTENSION]\n  FROM [dbo].[MachineDataWeekly]  \n where DATE_TIME >=  '@{pipeline().parameters.historico_desde}'   and DATE_TIME < '@{pipeline().parameters.historico_hasta}' UNION\nSELECT [MESSAGE_ID]\n      ,[DATE_TIME]\n      ,[MACHINE_IDENTIFIER]\n      ,[TYPE_OF_MACHINE]\n      ,[DIPPER_LOAD]\n      ,[CURRENT_TRUCK_LOAD]\n      ,[LAST_TRUCK_LOAD]\n      ,[SHIFT_TONS]\n      ,[LINE_VOLTAGE]\n      ,[MOTION_CONTROL_KW]\n      ,[POWER_FACTOR]\n      ,[MACHINE_KW]\n      ,[TRANSFORMER_1_TEMP]\n      ,[TRANSFORMER_2_TEMP]\n      ,[HOIST_SPEED]\n      ,[HOIST_TORQUE]\n      ,[HOIST_IW]\n      ,[HOIST_KW]\n      ,[HOIST_SPEED_REF]\n      ,[HOIST_MOTOR_TEMP]\n      ,[CROWD_EXTENSION]\n      ,[HOIST_ROPE_LENGTH]\n      ,[SWING_ANGLE]\n      ,[IGBT_MODULE_1_TEMP]\n      ,[IGBT_MODULE_2_TEMP]\n      ,[IGBT_MODULE_3_TEMP]\n      ,[IGBT_MODULE_4_TEMP]\n      ,[IGBT_MODULE_5_TEMP]\n      ,[IGBT_MODULE_6_TEMP]\n      ,[IGBT_MODULE_7_TEMP]\n      ,[HOIST_DRUM_R_BEAR_TEMP]\n      ,[HOIST_DRUM_L_BEAR_TEMP]\n      ,[HOIST_UP_IN_PINION_BEAR_TEMP]\n      ,[HOIST_LOW_IN_PINION_BEAT_TEMP]\n      ,[HOIST_MTR_R_BEAR_TEMP]\n      ,[HOIST_MTR_L_BEAR_TEMP]\n      ,[HOIST_GEARCASE_OIL_TEMP]\n      ,[HOIST_GEARCASE_OIL_PRESSURE]\n      ,[CROWD_SPEED]\n      ,[CROWD_TORQUE]\n      ,[CROWD_IW]\n      ,[CROWD_KW]\n      ,[CROWD_SPEED_REF]\n      ,[CROWD_MOTOR_TEMP]\n      ,[IGBT_MODULE_8_TEMP]\n      ,[IGBT_MODULE_9_TEMP]\n      ,[IGBT_MODULE_10_TEMP]\n      ,[IGBT_MODULE_11_TEMP]\n      ,[IGBT_MODULE_12_TEMP]\n      ,[IGBT_MODULE_13_TEMP]\n      ,[IGBT_MODULE_14_TEMP]\n      ,[BETA_ANGLE]\n      ,[CROWD_DRUM_R_BEAR_TEMP]\n      ,[CROWD_DRUM_L_BEAR_TEMP]\n      ,[CROWD_IN_SHAFT_IN_BEAR_TEMP]\n      ,[CROWD_IN_SHAFT_OUT_BEAR_TEMP]\n      ,[CROWD_1_INTER_SHAFT_IN_BEAR_TEMP]\n      ,[CROWD_1_INTER_SHAFT_OUT_BEAR_TEMP]\n      ,[CROWD_2_INTER_SHAFT_IN_BEAR_TEMP]\n      ,[CROWD_2_INTER_SHAFT_OUT_BEAR_TEMP]\n      ,[CROWD_MOTOR_R_BEAR_TEMP]\n      ,[CROWD_MOTOR_L_BEAR_TEMP]\n      ,[SWING_SPEED]\n      ,[SWING_TORQUE]\n      ,[SWING_IW]\n      ,[SWING_KW]\n      ,[SWING_MS_REF]\n      ,[SWING_1_MOTOR_TEMP]\n      ,[SWING_2_MOTOR_TEMP]\n      ,[TOTAL_TILT]\n      ,[FORE_AFT_TILT]\n      ,[SIDE_SIDE_TILT]\n      ,[CYCLE_SWING_ANGLE]\n      ,[HC_ESTIMATED_WARMUP_TIME_REMAINING]\n      ,[COOLER_INLET_TEMPERATURE]\n      ,[COOLER_OUTLET_TEMPERATURE]\n      ,[LUBE_PUMP_GEARCASE_TEMPERATURE]\n      ,[OUTSIDE_AMBIENT_AIR_TEMPERATURE]\n      ,[HOUSE_AMBIENT_AIR_TEMPERATURE]\n      ,[SWING_GEARCASE_1_UP_FORE_BEARING_TEMP]\n      ,[SWING_GEARCASE_1_LOW_AFT_BEARING_TEMP]\n      ,[SWING_MTR_1_UP_BEAR_TEMP]\n      ,[SWING_MTR_1_LOW_BEAR_TEMP]\n      ,[SWING_1_BEARING_5_TEMP]\n      ,[SWING_1_BEARING_6_TEMP]\n      ,[SWING_1_BEARING_7_TEMP]\n      ,[SWING_1_BEARING_8_TEMP]\n      ,[CYLINDER_MANIFOLD_OUTLET_TEMPERATURE]\n      ,[LOWER_HYDRAULIC_OIL_TEMPERATURE]\n      ,[UPPER_HYDRAULIC_OIL_TEMPERATURE]\n      ,[AIR_PRESSURE]\n      ,[LUBE_A1_PRESSURE]\n      ,[LUBE_A2_PRESSURE]\n      ,[LUBE_B1_PRESSURE]\n      ,[LUBE_B2_PRESSURE]\n      ,[LUBE_C1_PRESSURE]\n      ,[LUBE_C2_PRESSURE]\n      ,[SWING_GEARCASE_2_UP_FORE_BEARING_TEMP]\n      ,[SWING_GEARCASE_2_LOW_AFT_BEARING_TEMP]\n      ,[SWING_MTR_2_UP_BEAR_TEMP]\n      ,[SWING_MTR_2_LOW_BEAR_TEMP]\n      ,[SWING_2_BEARING_5_TEMP]\n      ,[SWING_2_BEARING_6_TEMP]\n      ,[SWING_2_BEARING_7_TEMP]\n      ,[SWING_2_BEARING_8_TEMP]\n      ,[STATUS_BYTE_1]\n      ,[STATUS_BYTE_2]\n      ,[STATUS_BYTE_3]\n      ,[STATUS_BYTE_4]\n      ,[STATUS_BYTE_5]\n      ,[STATUS_BYTE_6]\n      ,[HC_STATES_BYTE_1]\n      ,[HC_STATES_BYTE_2]\n      ,[HC_STATES_BYTE_3]\n      ,[HC_STATES_BYTE_4]\n      ,[WARMUP_SEQUENCE_1]\n      ,[WARMUP_SEQUENCE_2]\n      ,[LUBE_PUMP_GEARCASE_PRESSURE]\n      ,[RETURN_FILTER_SENSOR_PRESSURE]\n      ,[CROWD_PRESSURE_TRANSDUCER_CAP]\n      ,[CROWD_PRESSURE_TRANSDUCER_ROD]\n      ,[CYLINDER_MANIFOLD_OUTLET_PRESSURE]\n      ,[PUMP_MANIFOLD_OUTLET_PRESSURE]\n      ,[CROWD_POSITION_SENSOR_VELOCITY]\n      ,[CROWD_POSITION_SENSOR_POSITION]\n      ,[CROWD_MOTOR_TACOMETER_SPEED]\n      ,[CROWD_MASTER_SWITCH_REFERENCE]\n      ,[CROWD_MOTOR_TORQUE]\n      ,[PLC_PERCENT_REF_TO_DRIVE]\n      ,[PUMP_CASE_DRAIN_MONITOR_1]\n      ,[PUMP_CASE_DRAIN_MONITOR_2]\n      ,[PUMP_CASE_DRAIN_MONITOR_3]\n      ,[PUMP_CASE_DRAIN_MONITOR_4]\n      ,[MACHINE_OPERATING_HOURS]\n      ,[OPERATOR_ID]\n      ,[Spare7]\n      ,[BUS_ON]\n      ,[BUS_FAULT]\n      ,[AIR_PRESSURE_OK]\n      ,[HOIST_OK]\n      ,[CROWD_OK]\n      ,[SWING_OK]\n      ,[PROPEL_OK]\n      ,[LUBE_A_OK]\n      ,[LUBE_B_OK]\n      ,[LUBE_C_OK]\n      ,[BOOM_JACK]\n      ,[LINE_OK]\n      ,[BEARING_TEMP_OK]\n      ,[GEARBOX_TEMP_OK]\n      ,[HOIST_LIMITS]\n      ,[CROWD_LIMITS]\n      ,[DIPPER_TRIP]\n      ,[DIG_MODE]\n      ,[LUBE_A1_OK]\n      ,[LUBE_A2_OK]\n      ,[LUBE_B1_OK]\n      ,[LUBE_B2_OK]\n      ,[LUBE_C1_OK]\n      ,[LUBE_C2_OK]\n      ,[CROWD_STOP_LIMIT]\n      ,[RET_STOP_LIMIT]\n      ,[HOIST_STOP_LIMIT]\n      ,[LOWER_STOP_LIMIT]\n      ,[INC_SEQ_FAULT]\n      ,[BOOM_JACK_FAULT]\n      ,[SYSTEM_READY]\n      ,[CROWD_FAULT]\n      ,[HOIST_FAULT]\n      ,[SWING_FAULT]\n      ,[AFE_FAULT]\n      ,[CROWD_BRAKE_RELEASE]\n      ,[HOIST_BRAKE_RELEASE]\n      ,[SWING_BRAKE_RELEASE]\n      ,[PROPEL_BRAKE_RELEASE]\n      ,[DIG_PROPEL_MODE]\n      ,[CROWDING_OR_L_PROPEL_FWD]\n      ,[RETRACTING_OR_L_PROPEL_REV]\n      ,[HOISTING_OR_R_PROPEL_FWD]\n      ,[LOWERING_OR_R_PROPEL_REV]\n      ,[SWING_RIGHT]\n      ,[SWING_LEFT]\n      ,[DIPPER_TRIP_1]\n      ,[SPARE_8]\n      ,[TANK_ISOLATION_SWITCH_1]\n      ,[TANK_ISOLATION_SWITCH_2]\n      ,[TANK_ISOLATION_SWITCH_3]\n      ,[TANK_ISOLATION_SWITCH_4]\n      ,[LOW_OIL_SHUTDOWN_SENSOR]\n      ,[LOW_OIL_WARNING_SENSOR]\n      ,[HIGH_OIL_SHUTDOWN_SENSOR]\n      ,[CLOGGED_CIRCULATION_FILTER_SWITCH]\n      ,[PUMP_UPLOADING_VALVE_1]\n      ,[PUMP_UPLOADING_VALVE_2]\n      ,[PUMP_UPLOADING_VALVE_3]\n      ,[PUMP_UPLOADING_VALVE_4]\n      ,[PUMP_ISOLATION_CHECK_VALVE_1]\n      ,[PUMP_ISOLATION_CHECK_VALVE_2]\n      ,[PUMP_ISOLATION_CHECK_VALVE_3]\n      ,[PUMP_ISOLATION_CHECK_VALVE_4]\n      ,[COUTERBALANCE_VALVE_EXTEND]\n      ,[COUTERBALANCE_VALVE_RETRACT]\n      ,[COUTERBALANCE_VALVE_HEATING]\n      ,[CROWD_RE_GEN_VALVE]\n      ,[ROD_END_INLET_CHECK_VALVE]\n      ,[ROD_END_COUNTERBALANCE_CHECK_VALVE]\n      ,[IMMERSION_HEATER_LOWER_TANK_CONTACTOR]\n      ,[IMMERSION_HEATER_UPPER_TANK_CONTACTOR]\n      ,[HYDRAULIC_OIL_COOLER_CONTROL_VALVE]\n      ,[OIL_CIRCULATION_PUMP_CONTROL_1800]\n      ,[OIL_CIRCULATION_PUMP_CONTROL_900]\n      ,[PUMP_FLUSHING_AND_LUBE_PUMP_CONTROL]\n      ,[SPARE_9]\n      ,[SPARE_10]\n      ,[SPARE_11]\n      ,[SPARE_12]\n      ,[CYCLE_COUNT]\n      ,[HOIST_FAULT_COUNT]\n      ,[CROWD_FAULT_COUNT]\n      ,[SWING_FAULT_COUNT]\n      ,[PROPEL_FAULT_COUNT]\n      ,[BOOM_JACK_FAULT_COUNT]\n      ,[AFE_FAULT_COUNT]\n      ,[IDLE_TIME]\n      ,[PROPEL_TIME]\n      ,[DIG_TIME]\n      ,[CYCLE_TIME]\n      ,[NEW_TRUCK_COUNT]\n      ,[NEW_TRUCK_TIME]\n      ,[LUBE_A1_PRESSURE_COUNT]\n      ,[LUBE_A2_PRESSURE_COUNT]\n      ,[LUBE_A3_PRESSURE_COUNT]\n      ,[LUBE_A4_PRESSURE_COUNT]\n      ,[LUBE_A5_PRESSURE_COUNT]\n      ,[LUBE_A6_PRESSURE_COUNT]\n      ,[LUBE_A1_CYCLE_TIME]\n      ,[LUBE_A2_CYCLE_TIME]\n      ,[LUBE_A3_CYCLE_TIME]\n      ,[LUBE_A4_CYCLE_TIME]\n      ,[LUBE_A5_CYCLE_TIME]\n      ,[LUBE_A6_CYCLE_TIME]\n      ,[CROWD_STOP_LIMIT_EXTENSION]\n      ,[RET_STOP_LIMIT_EXTENSION]\n      ,[HOIST_STOP_LIMIT_EXTENSION]\n      ,[LOWER_STOP_LIMIT_EXTENSION]\n      ,[BOOM_JACK_FAULT_EXTENSION]\n  FROM [dbo].[MachineDataMonthly]  \n where DATE_TIME >= '@{pipeline().parameters.historico_desde}'   and DATE_TIME <  '@{pipeline().parameters.historico_hasta}' UNION\nSELECT [MESSAGE_ID]\n      ,[DATE_TIME]\n      ,[MACHINE_IDENTIFIER]\n      ,[TYPE_OF_MACHINE]\n      ,[DIPPER_LOAD]\n      ,[CURRENT_TRUCK_LOAD]\n      ,[LAST_TRUCK_LOAD]\n      ,[SHIFT_TONS]\n      ,[LINE_VOLTAGE]\n      ,[MOTION_CONTROL_KW]\n      ,[POWER_FACTOR]\n      ,[MACHINE_KW]\n      ,[TRANSFORMER_1_TEMP]\n      ,[TRANSFORMER_2_TEMP]\n      ,[HOIST_SPEED]\n      ,[HOIST_TORQUE]\n      ,[HOIST_IW]\n      ,[HOIST_KW]\n      ,[HOIST_SPEED_REF]\n      ,[HOIST_MOTOR_TEMP]\n      ,[CROWD_EXTENSION]\n      ,[HOIST_ROPE_LENGTH]\n      ,[SWING_ANGLE]\n      ,[IGBT_MODULE_1_TEMP]\n      ,[IGBT_MODULE_2_TEMP]\n      ,[IGBT_MODULE_3_TEMP]\n      ,[IGBT_MODULE_4_TEMP]\n      ,[IGBT_MODULE_5_TEMP]\n      ,[IGBT_MODULE_6_TEMP]\n      ,[IGBT_MODULE_7_TEMP]\n      ,[HOIST_DRUM_R_BEAR_TEMP]\n      ,[HOIST_DRUM_L_BEAR_TEMP]\n      ,[HOIST_UP_IN_PINION_BEAR_TEMP]\n      ,[HOIST_LOW_IN_PINION_BEAT_TEMP]\n      ,[HOIST_MTR_R_BEAR_TEMP]\n      ,[HOIST_MTR_L_BEAR_TEMP]\n      ,[HOIST_GEARCASE_OIL_TEMP]\n      ,[HOIST_GEARCASE_OIL_PRESSURE]\n      ,[CROWD_SPEED]\n      ,[CROWD_TORQUE]\n      ,[CROWD_IW]\n      ,[CROWD_KW]\n      ,[CROWD_SPEED_REF]\n      ,[CROWD_MOTOR_TEMP]\n      ,[IGBT_MODULE_8_TEMP]\n      ,[IGBT_MODULE_9_TEMP]\n      ,[IGBT_MODULE_10_TEMP]\n      ,[IGBT_MODULE_11_TEMP]\n      ,[IGBT_MODULE_12_TEMP]\n      ,[IGBT_MODULE_13_TEMP]\n      ,[IGBT_MODULE_14_TEMP]\n      ,[BETA_ANGLE]\n      ,[CROWD_DRUM_R_BEAR_TEMP]\n      ,[CROWD_DRUM_L_BEAR_TEMP]\n      ,[CROWD_IN_SHAFT_IN_BEAR_TEMP]\n      ,[CROWD_IN_SHAFT_OUT_BEAR_TEMP]\n      ,[CROWD_1_INTER_SHAFT_IN_BEAR_TEMP]\n      ,[CROWD_1_INTER_SHAFT_OUT_BEAR_TEMP]\n      ,[CROWD_2_INTER_SHAFT_IN_BEAR_TEMP]\n      ,[CROWD_2_INTER_SHAFT_OUT_BEAR_TEMP]\n      ,[CROWD_MOTOR_R_BEAR_TEMP]\n      ,[CROWD_MOTOR_L_BEAR_TEMP]\n      ,[SWING_SPEED]\n      ,[SWING_TORQUE]\n      ,[SWING_IW]\n      ,[SWING_KW]\n      ,[SWING_MS_REF]\n      ,[SWING_1_MOTOR_TEMP]\n      ,[SWING_2_MOTOR_TEMP]\n      ,[TOTAL_TILT]\n      ,[FORE_AFT_TILT]\n      ,[SIDE_SIDE_TILT]\n      ,[CYCLE_SWING_ANGLE]\n      ,[HC_ESTIMATED_WARMUP_TIME_REMAINING]\n      ,[COOLER_INLET_TEMPERATURE]\n      ,[COOLER_OUTLET_TEMPERATURE]\n      ,[LUBE_PUMP_GEARCASE_TEMPERATURE]\n      ,[OUTSIDE_AMBIENT_AIR_TEMPERATURE]\n      ,[HOUSE_AMBIENT_AIR_TEMPERATURE]\n      ,[SWING_GEARCASE_1_UP_FORE_BEARING_TEMP]\n      ,[SWING_GEARCASE_1_LOW_AFT_BEARING_TEMP]\n      ,[SWING_MTR_1_UP_BEAR_TEMP]\n      ,[SWING_MTR_1_LOW_BEAR_TEMP]\n      ,[SWING_1_BEARING_5_TEMP]\n      ,[SWING_1_BEARING_6_TEMP]\n      ,[SWING_1_BEARING_7_TEMP]\n      ,[SWING_1_BEARING_8_TEMP]\n      ,[CYLINDER_MANIFOLD_OUTLET_TEMPERATURE]\n      ,[LOWER_HYDRAULIC_OIL_TEMPERATURE]\n      ,[UPPER_HYDRAULIC_OIL_TEMPERATURE]\n      ,[AIR_PRESSURE]\n      ,[LUBE_A1_PRESSURE]\n      ,[LUBE_A2_PRESSURE]\n      ,[LUBE_B1_PRESSURE]\n      ,[LUBE_B2_PRESSURE]\n      ,[LUBE_C1_PRESSURE]\n      ,[LUBE_C2_PRESSURE]\n      ,[SWING_GEARCASE_2_UP_FORE_BEARING_TEMP]\n      ,[SWING_GEARCASE_2_LOW_AFT_BEARING_TEMP]\n      ,[SWING_MTR_2_UP_BEAR_TEMP]\n      ,[SWING_MTR_2_LOW_BEAR_TEMP]\n      ,[SWING_2_BEARING_5_TEMP]\n      ,[SWING_2_BEARING_6_TEMP]\n      ,[SWING_2_BEARING_7_TEMP]\n      ,[SWING_2_BEARING_8_TEMP]\n      ,[STATUS_BYTE_1]\n      ,[STATUS_BYTE_2]\n      ,[STATUS_BYTE_3]\n      ,[STATUS_BYTE_4]\n      ,[STATUS_BYTE_5]\n      ,[STATUS_BYTE_6]\n      ,[HC_STATES_BYTE_1]\n      ,[HC_STATES_BYTE_2]\n      ,[HC_STATES_BYTE_3]\n      ,[HC_STATES_BYTE_4]\n      ,[WARMUP_SEQUENCE_1]\n      ,[WARMUP_SEQUENCE_2]\n      ,[LUBE_PUMP_GEARCASE_PRESSURE]\n      ,[RETURN_FILTER_SENSOR_PRESSURE]\n      ,[CROWD_PRESSURE_TRANSDUCER_CAP]\n      ,[CROWD_PRESSURE_TRANSDUCER_ROD]\n      ,[CYLINDER_MANIFOLD_OUTLET_PRESSURE]\n      ,[PUMP_MANIFOLD_OUTLET_PRESSURE]\n      ,[CROWD_POSITION_SENSOR_VELOCITY]\n      ,[CROWD_POSITION_SENSOR_POSITION]\n      ,[CROWD_MOTOR_TACOMETER_SPEED]\n      ,[CROWD_MASTER_SWITCH_REFERENCE]\n      ,[CROWD_MOTOR_TORQUE]\n      ,[PLC_PERCENT_REF_TO_DRIVE]\n      ,[PUMP_CASE_DRAIN_MONITOR_1]\n      ,[PUMP_CASE_DRAIN_MONITOR_2]\n      ,[PUMP_CASE_DRAIN_MONITOR_3]\n      ,[PUMP_CASE_DRAIN_MONITOR_4]\n      ,[MACHINE_OPERATING_HOURS]\n      ,[OPERATOR_ID]\n      ,[Spare7]\n      ,[BUS_ON]\n      ,[BUS_FAULT]\n      ,[AIR_PRESSURE_OK]\n      ,[HOIST_OK]\n      ,[CROWD_OK]\n      ,[SWING_OK]\n      ,[PROPEL_OK]\n      ,[LUBE_A_OK]\n      ,[LUBE_B_OK]\n      ,[LUBE_C_OK]\n      ,[BOOM_JACK]\n      ,[LINE_OK]\n      ,[BEARING_TEMP_OK]\n      ,[GEARBOX_TEMP_OK]\n      ,[HOIST_LIMITS]\n      ,[CROWD_LIMITS]\n      ,[DIPPER_TRIP]\n      ,[DIG_MODE]\n      ,[LUBE_A1_OK]\n      ,[LUBE_A2_OK]\n      ,[LUBE_B1_OK]\n      ,[LUBE_B2_OK]\n      ,[LUBE_C1_OK]\n      ,[LUBE_C2_OK]\n      ,[CROWD_STOP_LIMIT]\n      ,[RET_STOP_LIMIT]\n      ,[HOIST_STOP_LIMIT]\n      ,[LOWER_STOP_LIMIT]\n      ,[INC_SEQ_FAULT]\n      ,[BOOM_JACK_FAULT]\n      ,[SYSTEM_READY]\n      ,[CROWD_FAULT]\n      ,[HOIST_FAULT]\n      ,[SWING_FAULT]\n      ,[AFE_FAULT]\n      ,[CROWD_BRAKE_RELEASE]\n      ,[HOIST_BRAKE_RELEASE]\n      ,[SWING_BRAKE_RELEASE]\n      ,[PROPEL_BRAKE_RELEASE]\n      ,[DIG_PROPEL_MODE]\n      ,[CROWDING_OR_L_PROPEL_FWD]\n      ,[RETRACTING_OR_L_PROPEL_REV]\n      ,[HOISTING_OR_R_PROPEL_FWD]\n      ,[LOWERING_OR_R_PROPEL_REV]\n      ,[SWING_RIGHT]\n      ,[SWING_LEFT]\n      ,[DIPPER_TRIP_1]\n      ,[SPARE_8]\n      ,[TANK_ISOLATION_SWITCH_1]\n      ,[TANK_ISOLATION_SWITCH_2]\n      ,[TANK_ISOLATION_SWITCH_3]\n      ,[TANK_ISOLATION_SWITCH_4]\n      ,[LOW_OIL_SHUTDOWN_SENSOR]\n      ,[LOW_OIL_WARNING_SENSOR]\n      ,[HIGH_OIL_SHUTDOWN_SENSOR]\n      ,[CLOGGED_CIRCULATION_FILTER_SWITCH]\n      ,[PUMP_UPLOADING_VALVE_1]\n      ,[PUMP_UPLOADING_VALVE_2]\n      ,[PUMP_UPLOADING_VALVE_3]\n      ,[PUMP_UPLOADING_VALVE_4]\n      ,[PUMP_ISOLATION_CHECK_VALVE_1]\n      ,[PUMP_ISOLATION_CHECK_VALVE_2]\n      ,[PUMP_ISOLATION_CHECK_VALVE_3]\n      ,[PUMP_ISOLATION_CHECK_VALVE_4]\n      ,[COUTERBALANCE_VALVE_EXTEND]\n      ,[COUTERBALANCE_VALVE_RETRACT]\n      ,[COUTERBALANCE_VALVE_HEATING]\n      ,[CROWD_RE_GEN_VALVE]\n      ,[ROD_END_INLET_CHECK_VALVE]\n      ,[ROD_END_COUNTERBALANCE_CHECK_VALVE]\n      ,[IMMERSION_HEATER_LOWER_TANK_CONTACTOR]\n      ,[IMMERSION_HEATER_UPPER_TANK_CONTACTOR]\n      ,[HYDRAULIC_OIL_COOLER_CONTROL_VALVE]\n      ,[OIL_CIRCULATION_PUMP_CONTROL_1800]\n      ,[OIL_CIRCULATION_PUMP_CONTROL_900]\n      ,[PUMP_FLUSHING_AND_LUBE_PUMP_CONTROL]\n      ,[SPARE_9]\n      ,[SPARE_10]\n      ,[SPARE_11]\n      ,[SPARE_12]\n      ,[CYCLE_COUNT]\n      ,[HOIST_FAULT_COUNT]\n      ,[CROWD_FAULT_COUNT]\n      ,[SWING_FAULT_COUNT]\n      ,[PROPEL_FAULT_COUNT]\n      ,[BOOM_JACK_FAULT_COUNT]\n      ,[AFE_FAULT_COUNT]\n      ,[IDLE_TIME]\n      ,[PROPEL_TIME]\n      ,[DIG_TIME]\n      ,[CYCLE_TIME]\n      ,[NEW_TRUCK_COUNT]\n      ,[NEW_TRUCK_TIME]\n      ,[LUBE_A1_PRESSURE_COUNT]\n      ,[LUBE_A2_PRESSURE_COUNT]\n      ,[LUBE_A3_PRESSURE_COUNT]\n      ,[LUBE_A4_PRESSURE_COUNT]\n      ,[LUBE_A5_PRESSURE_COUNT]\n      ,[LUBE_A6_PRESSURE_COUNT]\n      ,[LUBE_A1_CYCLE_TIME]\n      ,[LUBE_A2_CYCLE_TIME]\n      ,[LUBE_A3_CYCLE_TIME]\n      ,[LUBE_A4_CYCLE_TIME]\n      ,[LUBE_A5_CYCLE_TIME]\n      ,[LUBE_A6_CYCLE_TIME]\n      ,[CROWD_STOP_LIMIT_EXTENSION]\n      ,[RET_STOP_LIMIT_EXTENSION]\n      ,[HOIST_STOP_LIMIT_EXTENSION]\n      ,[LOWER_STOP_LIMIT_EXTENSION]\n      ,[BOOM_JACK_FAULT_EXTENSION]\n  FROM [dbo].[MachineDataYearly]  \n where DATE_TIME >=  '@{pipeline().parameters.historico_desde}'   and DATE_TIME <  '@{pipeline().parameters.historico_hasta}'  ) A",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_MIDAS_TABLES",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "MIDAS_RAWHISTORY_PARAMETRIZADO",
						"type": "DatasetReference",
						"parameters": {
							"filename": "@{variables('v_nombre_tabla')}_HIS.parquet"
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_nombre_tabla",
					"value": "DATA_SHOVEL"
				}
			},
			{
				"name": "Insert_Parquet_to_Delta",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy data to DATA_SHOVEL-His",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/DEV/Common_Notebooks/Insert_Parquet_to_Delta",
					"baseParameters": {
						"p_nombre_tabla": {
							"value": "@variables('v_nombre_tabla')",
							"type": "Expression"
						},
						"p_tipo_carga": "HISTORICO",
						"p_origen": "MIDAS"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"historico_desde": {
				"type": "string"
			},
			"historico_hasta": {
				"type": "string"
			}
		},
		"variables": {
			"v_nombre_tabla": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Midas/History"
		},
		"annotations": [],
		"lastPublishTime": "2021-09-08T21:32:57Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}