pipeline/Extraccion_Dispach_DLB_ShiftInfo.json
{
	"name": "Extraccion_Dispach_DLB_ShiftInfo",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_nombre_tabla",
					"value": "DLB_SHIFTINFO"
				}
			},
			{
				"name": "Copy data to ShiftInfo-Temp",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT [ShiftId]\n      ,[ShiftName]\n      ,[DbName]\n      ,[ShiftYear]\n      ,[ShiftMonth]\n      ,[ShiftWeek]\n      ,[ShiftDay]\n      ,[ShiftSuffix]\n      ,[FullShiftSuffix]\n      ,[ShiftStartSecSinceMidnight]\n      ,[ShiftStartTimestamp]\n      ,[ShiftStartDate]\n      ,[ShiftStartDateTime]\n      ,[FullShiftName]\n      ,[Holiday]\n      ,[Crew]\n      ,[ShiftDuration]\n      ,[ShiftDate]\n      ,[ShiftFilter]\n\t  ,GETDATE() as [ExtractDate]\n  FROM [DLBReports].[dbo].[DLB_ShiftInfo]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ShiftId",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "ShiftId",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "ShiftName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ShiftName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DbName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DbName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ShiftYear",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "ShiftYear",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ShiftMonth",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ShiftMonth",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ShiftWeek",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ShiftWeek",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ShiftDay",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "ShiftDay",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ShiftSuffix",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ShiftSuffix",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FullShiftSuffix",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FullShiftSuffix",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ShiftStartSecSinceMidnight",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ShiftStartSecSinceMidnight",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ShiftStartTimestamp",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ShiftStartTimestamp",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ShiftStartDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ShiftStartDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ShiftStartDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ShiftStartDateTime",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "FullShiftName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FullShiftName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Holiday",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "Holiday",
									"type": "Int16",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "Crew",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Crew",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ShiftDuration",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ShiftDuration",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "ShiftDate",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "ShiftDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ShiftFilter",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ShiftFilter",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ExtractDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ExtractDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DLB_SHIFTINFO",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DISPACH_RAWTEMP_PARAMETRIZADO",
						"type": "DatasetReference",
						"parameters": {
							"filename": "@{variables('v_nombre_tabla')}_TEMP.parquet"
						}
					}
				]
			},
			{
				"name": "Insert_Parquet_to_Delta",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy data to ShiftInfo-Temp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/DEV/Common_Notebooks/Insert_Parquet_to_Delta",
					"baseParameters": {
						"p_nombre_tabla": {
							"value": "@variables('v_nombre_tabla')",
							"type": "Expression"
						},
						"p_tipo_carga": "INCREMENTAL",
						"p_origen": "DISPATCH"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"v_nombre_tabla": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Dispatch/Incremental"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-13T21:54:48Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}