pipeline/Extraccion_Siamflex_datos_1d_His.json
{
	"name": "Extraccion_Siamflex_datos_1d_His",
	"properties": {
		"activities": [
			{
				"name": "Copy data to datos_1d",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MariaDBSource",
						"query": "SELECT i_indicador\n             ,fh\n             ,fhfrac\n             ,dato\n FROM datos_1d\nWHERE fh > DATE_SUB(date(now()),INTERVAL 2 DAY)\nAnd   i_indicador in\n(\n21504,\n21505,\n21506,\n21507,\n21508,\n21509,\n21522,\n21523,\n21524,\n21525,\n21526,\n21527,\n21528,\n21529,\n21530,\n21531,\n21532,\n21533,\n21534,\n21535,\n21536,\n21537,\n21538,\n21539,\n21540,\n21541,\n21542,\n21543,\n21544,\n21545,\n21546,\n21547,\n21548,\n21549,\n21550,\n21551,\n21552,\n21553,\n21554,\n21555,\n21556,\n21557,\n21558,\n21559,\n21560,\n21561,\n21562,\n21563,\n21564,\n21565,\n21566,\n21567,\n21568,\n21569,\n21570,\n21571,\n21572,\n21573,\n21574,\n21575,\n21576,\n21577,\n21578,\n21579,\n21580,\n21581,\n21582,\n21583,\n21584,\n21585,\n21586,\n21587,\n21588,\n21589,\n21590,\n21591,\n21592,\n21593,\n21594,\n21595,\n21596,\n21597,\n21598,\n21599,\n21600,\n21601,\n21602,\n21603,\n21604,\n21605,\n21654,\n21655,\n21656,\n21657,\n21658,\n21659,\n21672,\n21673,\n21674,\n21675,\n21676,\n21677,\n21678,\n21679,\n21680,\n21681,\n21682,\n21683,\n21684,\n21685,\n21686,\n21687,\n21688,\n21689,\n21690,\n21691,\n21692,\n21693,\n21694,\n21695,\n21696,\n21697,\n21698,\n21699,\n21700,\n21701,\n21702,\n21703,\n21704,\n21705,\n21706,\n21707,\n21708,\n21709,\n21710,\n21711,\n21712,\n21713,\n21714,\n21715,\n21716,\n21717,\n21718,\n21719,\n21720,\n21721,\n21722,\n21723,\n21724,\n21725,\n21726,\n21727,\n21728,\n21729,\n21730,\n21731,\n21732,\n21733,\n21734,\n21735,\n21736,\n21737,\n21738,\n21739,\n21740,\n21741,\n21742,\n21743,\n21744,\n21745,\n21746,\n21747,\n21748,\n21749,\n21750,\n21751,\n21752,\n21753,\n21754,\n21755,\n21804,\n21805,\n21806,\n21807,\n21808,\n21809,\n21822,\n21823,\n21824,\n21825,\n21826,\n21827,\n21828,\n21829,\n21830,\n21831,\n21832,\n21833,\n21834,\n21835,\n21836,\n21837,\n21838,\n21839,\n21840,\n21841,\n21842,\n21843,\n21844,\n21845,\n21846,\n21847,\n21848,\n21849,\n21850,\n21851,\n21852,\n21853,\n21854,\n21855,\n21856,\n21857,\n21858,\n21859,\n21860,\n21861,\n21862,\n21863,\n21864,\n21865,\n21866,\n21867,\n21868,\n21869,\n21870,\n21871,\n21872,\n21873,\n21874,\n21875,\n21876,\n21877,\n21878,\n21879,\n21880,\n21881,\n21882,\n21883,\n21884,\n21885,\n21886,\n21887,\n21888,\n21889,\n21890,\n21891,\n21892,\n21893,\n21894,\n21895,\n21896,\n21897,\n21898,\n21899,\n21900,\n21901,\n21902,\n21903,\n21904,\n21905,\n21924,\n21925,\n21926,\n21927,\n21928,\n21929,\n21942,\n21943,\n21944,\n21945,\n21946,\n21947,\n21948,\n21949,\n21950,\n21951,\n21952,\n21953,\n21954,\n21955,\n21956,\n21957,\n21958,\n21959,\n21960,\n21961,\n21962,\n21963,\n21964,\n21965,\n21966,\n21967,\n21968,\n21969,\n21970,\n21971,\n21972,\n21973,\n21974,\n21975,\n21976,\n21977,\n21978,\n21979,\n21980,\n21981,\n21982,\n21983,\n21984,\n21985,\n21986,\n21987,\n21988,\n21989,\n21990,\n21991,\n21992,\n21993,\n21994,\n21995,\n21996,\n21997,\n21998,\n21999,\n22000,\n22001,\n22002,\n22003,\n22004,\n22005,\n22006,\n22007,\n22008,\n22009,\n22010,\n22011,\n22012,\n22013,\n22014,\n22015,\n22016,\n22017,\n22018,\n22019,\n22020,\n22021,\n22022,\n22023,\n22024,\n22025,\n22026,\n22027,\n22028,\n22029,\n22030,\n22031,\n22044,\n22045,\n22046,\n22047,\n22048,\n22049,\n22050,\n22051,\n22052,\n22053,\n22054,\n22055,\n22056,\n22057,\n22058,\n22059,\n22060,\n22061,\n22062,\n22063,\n22064,\n22065,\n22066,\n22067,\n22068,\n22069,\n22070,\n22071,\n22072,\n22073,\n22074,\n22075,\n22076,\n22077,\n22078,\n22079,\n22080,\n22081,\n22082,\n22083,\n22084,\n22085,\n22086,\n22087,\n22088,\n22089,\n22090,\n22091,\n22092,\n22093,\n22094,\n22095,\n22096,\n22097,\n22098,\n22099,\n22100,\n22101,\n22102,\n22103,\n22104,\n22105,\n22106,\n22107,\n22108,\n22109,\n22110,\n22111,\n22112,\n22113,\n22114,\n22115,\n22116,\n22117,\n22118,\n22119,\n22120,\n22121,\n22122,\n22123,\n22124,\n22125,\n22126,\n22127,\n22152,\n22153,\n22154,\n22161,\n22162,\n22163,\n22164,\n22165,\n22166,\n22170,\n22171,\n22172,\n22173,\n22174,\n22175,\n22176,\n22177,\n22178,\n22179,\n22180,\n22181,\n22182,\n22183,\n22184,\n22185,\n22186,\n22187,\n22188,\n22189,\n22190,\n22191,\n22192,\n22193,\n22194,\n22195,\n22196,\n22197,\n22198,\n22199,\n22200,\n22201,\n22202,\n22227,\n22228,\n22229,\n22236,\n22237,\n22238,\n22239,\n22240,\n22241,\n22245,\n22246,\n22247,\n22248,\n22249,\n22250,\n22251,\n22252,\n22253,\n22254,\n22255,\n22256,\n22257,\n22258,\n22259,\n22260,\n22261,\n22262,\n22263,\n22264,\n22265,\n22266,\n22267,\n22268,\n22269,\n22270,\n22271,\n22272,\n22273,\n22274,\n22275,\n22276,\n22277,\n22302,\n22303,\n22304,\n22311,\n22312,\n22313,\n22314,\n22315,\n22316,\n22320,\n22321,\n22322,\n22323,\n22324,\n22325,\n22326,\n22327,\n22328,\n22329,\n22330,\n22331,\n22332,\n22333,\n22334,\n22335,\n22336,\n22337,\n22338,\n22339,\n22340,\n22341,\n22342,\n22343,\n22344,\n22345,\n22346,\n22347,\n22348,\n22349,\n22350,\n22351,\n22352,\n22377,\n22378,\n22379,\n22386,\n22387,\n22388,\n22389,\n22390,\n22391,\n22395,\n22396,\n22397,\n22398,\n22399,\n22400,\n22401,\n22402,\n22403,\n22404,\n22405,\n22406,\n22407,\n22408,\n22409,\n22410,\n22411,\n22412,\n22413,\n22414,\n22415,\n22416,\n22417,\n22418,\n22419,\n22420,\n22421,\n22422,\n22423,\n22424,\n22425,\n22426,\n22427,\n22452,\n22453,\n22454,\n22461,\n22462,\n22463,\n22464,\n22465,\n22466,\n22470,\n22471,\n22472,\n22473,\n22474,\n22475,\n22476,\n22477,\n22478,\n22479,\n22480,\n22481,\n22482,\n22483,\n22484,\n22485,\n22486,\n22487,\n22488,\n22489,\n22490,\n22491,\n22492,\n22493,\n22494,\n22495,\n22496,\n22497,\n22498,\n22499,\n22500,\n22501,\n22502,\n22527,\n22528,\n22529,\n22536,\n22537,\n22538,\n22539,\n22540,\n22541,\n22545,\n22546,\n22547,\n22548,\n22549,\n22550,\n22551,\n22552,\n22553,\n22554,\n22555,\n22556,\n22557,\n22558,\n22559,\n22560,\n22561,\n22562,\n22563,\n22564,\n22565,\n22566,\n22567,\n22568,\n22569,\n22570,\n22571,\n22572,\n22573,\n22574,\n22575,\n22576,\n22577,\n22602,\n22603,\n22604,\n22611,\n22612,\n22613,\n22614,\n22615,\n22616,\n22620,\n22621,\n22622,\n22623,\n22624,\n22625,\n22626,\n22627,\n22628,\n22629,\n22630,\n22631,\n22632,\n22633,\n22634,\n22635,\n22636,\n22637,\n22638,\n22639,\n22640,\n22641,\n22642,\n22643,\n22644,\n22645,\n22646,\n22647,\n22648,\n22649,\n22650,\n22651,\n22652,\n22677,\n22678,\n22679,\n22686,\n22687,\n22688,\n22689,\n22690,\n22691,\n22695,\n22696,\n22697,\n22698,\n22699,\n22700,\n22701,\n22702,\n22703,\n22704,\n22705,\n22706,\n22707,\n22708,\n22709,\n22710,\n22711,\n22712,\n22713,\n22714,\n22715,\n22716,\n22717,\n22718,\n22719,\n22720,\n22721,\n22722,\n22723,\n22724,\n22725,\n22726,\n22727,\n28162,\n28163,\n28164,\n28165,\n28166,\n28167,\n28168,\n28169,\n28170,\n28171,\n28172,\n28173,\n28174,\n28175,\n28176,\n28177,\n28178,\n28179,\n28180,\n28181,\n28182,\n28183,\n28184,\n28185,\n2472,\n2473,\n2474,\n2475,\n2476,\n2477,\n2478,\n2479,\n2480,\n2481,\n2482,\n2483,\n2484,\n2485,\n2486,\n2487,\n2488,\n2489,\n2490,\n2491,\n2492,\n2493,\n2494,\n2495,\n2496,\n2497,\n2498,\n2499,\n2500,\n2501,\n2502,\n2503,\n2504,\n2505,\n2506,\n2507,\n2508,\n2509,\n2510,\n2511,\n2512,\n2513,\n2514,\n2515,\n2516,\n2517,\n2518,\n2519,\n2520,\n2521,\n2522,\n2523,\n2524,\n2525,\n2526,\n2527,\n2655,\n2656,\n2657,\n2658,\n2659,\n2660,\n2661,\n2662,\n2663,\n2664,\n2665,\n2666,\n2667,\n2668,\n2669,\n2670,\n2671,\n2672,\n2673,\n2674,\n2675,\n2676,\n2677,\n2678,\n2679,\n2680,\n2681,\n2682,\n2683,\n2684,\n2685,\n2686,\n2687,\n2688,\n2689,\n2690,\n2691,\n2692,\n2693,\n2694,\n2695,\n2696,\n2697,\n2698,\n2699,\n2700,\n2701,\n2702,\n2703,\n2704,\n2705,\n2706,\n2707,\n2708,\n2709,\n2710,\n2885,\n2886,\n2887,\n2888,\n2889,\n2890,\n2891,\n2892,\n2893,\n2894,\n2895,\n2896,\n2897,\n2898,\n2899,\n2900,\n2901,\n2902,\n2903,\n2904,\n2905,\n2906,\n2907,\n2908,\n2909,\n2910,\n2911,\n2912,\n2988,\n3034,\n3035,\n3036,\n3037,\n3038,\n3039,\n3040,\n3041,\n3042,\n3043,\n3044,\n3045,\n3046,\n3047,\n3048,\n3049,\n3050,\n3051,\n3052,\n3053,\n3211,\n3212,\n3213,\n3214,\n3215,\n3216,\n3217,\n3218,\n3219,\n3220,\n3221,\n3222,\n3223,\n3224,\n3225,\n3226,\n3227,\n3228,\n3229,\n3230,\n3231,\n3232,\n3233,\n3234,\n3235,\n3236,\n3237,\n3238,\n3239,\n3240,\n3241,\n3242,\n3424,\n3425,\n3426,\n3427,\n3428,\n3429,\n3430,\n3431,\n3432,\n3433,\n3434,\n3435,\n3436,\n3437,\n3438,\n3439,\n3449,\n3450,\n3451,\n3452,\n3453,\n3454,\n3455,\n3456,\n3457,\n3458,\n3459,\n3460,\n3461,\n3462,\n3463,\n3464,\n3465,\n3466,\n3467,\n3468,\n3469,\n3470,\n3471,\n3472,\n3473,\n3474,\n3475,\n3476,\n3687,\n3688,\n3689,\n3690,\n3691,\n3692,\n3693,\n3694,\n3695,\n3696,\n3697,\n3698,\n3699,\n3700,\n3701,\n3702,\n3703,\n3704,\n3705,\n3706,\n3707,\n3708,\n3709,\n3710,\n3711,\n3712,\n3713,\n3714,\n3715,\n3716,\n3717,\n3718,\n3719,\n3720,\n3721,\n3722,\n3723,\n3724,\n3725,\n3726,\n3727,\n3728,\n3729,\n3730,\n3731,\n3732,\n3877,\n3878,\n3911,\n4026,\n4027,\n4028,\n10784,\n10785,\n10786,\n10800,\n10801,\n10802,\n10803,\n10804,\n10805,\n10806,\n10807,\n10808,\n10809,\n10810,\n10811,\n10812,\n10813,\n10814,\n10815,\n10816,\n10817,\n10818,\n10819,\n10820,\n10821,\n10822,\n10823,\n11472,\n11473,\n11474,\n11475,\n11476,\n11477,\n11478,\n11479,\n11480,\n11481,\n11482,\n11483,\n11484,\n11485,\n11486,\n11487,\n11488,\n11489,\n11490,\n11491,\n13701,\n13702,\n13703,\n13704,\n13705,\n13706,\n13707,\n13708,\n13709,\n13710,\n13711,\n13712,\n13713,\n13714,\n13715,\n13716,\n13717,\n13718,\n13719,\n13720,\n13721,\n13722,\n13723,\n13724,\n13725,\n13726,\n13727,\n13728,\n13729,\n13730,\n13731,\n13732,\n13733,\n13734,\n13735,\n13736,\n13737,\n13738,\n13739,\n13740,\n13741,\n13742,\n13743,\n13744,\n13745,\n13746,\n13747,\n13748,\n14806,\n14807,\n14829,\n14830,\n14971,\n14973,\n14975,\n14977,\n14979,\n14981,\n14982,\n14983,\n14984,\n14985,\n14986,\n14987,\n14988,\n14989,\n14990,\n14991,\n14992,\n14993,\n14994,\n14995,\n14996,\n14997,\n14998,\n14999,\n15000,\n15001,\n15002,\n15003,\n15004,\n15005,\n15171,\n15172,\n15173,\n15174,\n15175,\n15176,\n15177,\n15178,\n15179,\n15180,\n15181,\n15182,\n15195,\n15196,\n15197,\n15198,\n15199,\n15200,\n15201,\n15202,\n15203,\n15204,\n15205,\n15206,\n15207,\n15208,\n15209,\n15210,\n15211,\n15212,\n15213,\n15214,\n15215,\n15216,\n15217,\n15218,\n15219,\n15220,\n15221,\n15222,\n15223,\n15224,\n15244,\n15246,\n15248,\n15250,\n15252,\n15254,\n15256,\n15258,\n15260,\n15262,\n15264,\n15266,\n15291,\n15292,\n15293,\n15294,\n15295,\n15296,\n15297,\n15298,\n15299,\n15303,\n15304,\n15305,\n15321,\n15322,\n15323,\n15327,\n15328,\n15329,\n15330,\n15331,\n15332,\n15369,\n15370,\n15371,\n15372,\n15373,\n15374,\n15381,\n15382,\n15383,\n15384,\n15385,\n15386,\n15387,\n15388,\n15389,\n15390,\n15391,\n15392,\n15393,\n15394,\n15395,\n15396,\n15397,\n15398,\n15399,\n15400,\n15401,\n15402,\n15403,\n15404,\n15405,\n15406,\n15407,\n15408,\n15409,\n15410,\n15411,\n15412,\n15413,\n15414,\n15415,\n15416,\n15417,\n15418,\n15419,\n15420,\n15421,\n15422,\n15423,\n15424,\n15425,\n15426,\n15427,\n15428,\n15429,\n15430,\n15431,\n15432,\n15433,\n15434,\n15435,\n15436,\n15437,\n15438,\n15439,\n15440,\n15441,\n15442,\n15443,\n15444,\n15445,\n15446,\n15447,\n15448,\n15449,\n15450,\n15451,\n15452,\n15495,\n15496,\n15497,\n15498,\n15499,\n15500,\n15507,\n15508,\n15509,\n15510,\n15511,\n15512,\n15537,\n15538,\n15539,\n15540,\n15541,\n15542,\n15543,\n15544,\n15549,\n15550,\n15551,\n15552,\n15553,\n15554,\n15555,\n15556,\n15557,\n15558,\n15559,\n15560,\n15561,\n15562,\n15563,\n15564,\n15565,\n15566,\n15567,\n15568,\n15569,\n15570,\n15575,\n15576,\n15577,\n15578,\n15579,\n15580,\n15581,\n15582,\n15583,\n15584,\n15585,\n15586,\n15587,\n15588,\n15589,\n15590,\n15591,\n15592,\n15593,\n15594,\n15595,\n15596,\n15601,\n15602,\n15603,\n15604,\n15605,\n15606,\n15607,\n15608,\n15609,\n15610,\n15611,\n15612,\n15613,\n15614,\n15615,\n15616,\n15617,\n15618,\n15619,\n15620,\n15621,\n15622,\n15627,\n15628,\n15629,\n15630,\n15631,\n15632,\n15633,\n15634,\n15635,\n15636,\n15637,\n15638,\n15639,\n15640,\n15641,\n15642,\n15643,\n15644,\n15645,\n15646,\n15647,\n15648,\n15653,\n15654,\n15655,\n15656,\n15657,\n15658,\n15659,\n15660,\n15661,\n15662,\n15663,\n15664,\n15665,\n15666,\n15667,\n15668,\n15669,\n15670,\n15673,\n15674,\n15675,\n15676,\n15677,\n15678,\n15679,\n15680,\n15681,\n15682,\n15683,\n15684,\n15687,\n15688,\n15689,\n15690,\n15691,\n15692,\n15693,\n15694,\n15695,\n15696,\n15697,\n15698,\n15701,\n15702,\n15703,\n15704,\n15705,\n15706,\n15707,\n15708,\n15709,\n15710,\n15711,\n15712,\n15715,\n15716,\n15717,\n15718,\n15719,\n15720,\n15721,\n15722,\n15723,\n15724,\n15725,\n15726,\n15727,\n15728,\n15729,\n15730,\n15735,\n15736,\n15737,\n15738,\n15739,\n15740,\n15741,\n15742,\n15743,\n15744,\n15745,\n15746,\n15747,\n15748,\n15749,\n15750,\n15751,\n15752,\n15753,\n15754,\n15755,\n15756,\n15761,\n15762,\n15763,\n15764,\n15765,\n15766,\n15767,\n15768,\n15769,\n15770,\n15771,\n15772,\n15773,\n15774,\n15776,\n15778,\n15782,\n15784,\n15786,\n15788,\n15790,\n15792,\n15796,\n15798,\n15800,\n15802,\n15849,\n15850,\n15851,\n15852,\n15853,\n15854,\n15855,\n15856,\n15857,\n15858,\n15859,\n15860,\n15861,\n15862,\n15863,\n15864,\n15865,\n15866,\n15882,\n15883,\n15884,\n15885,\n15886,\n15887,\n15888,\n15889,\n15890,\n15891,\n15892,\n15893,\n15894,\n15895,\n15896,\n15897,\n15898,\n15899,\n15900,\n15901,\n15902,\n15903,\n15904,\n15905,\n15906,\n15907,\n15908,\n15910,\n15911,\n15912,\n15914,\n15927,\n15928,\n15929,\n15930,\n15931,\n15932,\n15933,\n15934,\n15935,\n15936,\n15937,\n15938,\n15945,\n15946,\n15948,\n15949,\n15951,\n15952,\n15954,\n15955,\n15957,\n15958,\n15960,\n15961,\n15993,\n15994,\n15995,\n15996,\n15997,\n15998,\n15999,\n16000,\n16001,\n16002,\n16003,\n16004,\n16006,\n16008,\n16010,\n16012,\n16014,\n16016,\n16029,\n16030,\n16031,\n16032,\n16033,\n16034,\n16035,\n16036,\n16037,\n16038,\n16039,\n16040,\n16089,\n16090,\n16091,\n16092,\n16093,\n16094,\n16101,\n16102,\n16103,\n16104,\n16105,\n16106,\n16107,\n16108,\n16109,\n16110,\n16111,\n16112,\n16119,\n16120,\n16121,\n16122,\n16123,\n16124,\n16131,\n16132,\n16133,\n16134,\n16135,\n16136,\n16179,\n16180,\n16181,\n16182,\n16183,\n16184,\n16185,\n16186,\n16187,\n16188,\n16189,\n16190,\n16191,\n16192,\n16193,\n16194,\n16195,\n16196,\n16197,\n16198,\n16199,\n16200,\n16201,\n16202,\n16203,\n16204,\n16205,\n16206,\n16207,\n16208,\n16209,\n16210,\n16211,\n16212,\n16213,\n16214,\n16215,\n16216,\n16217,\n16218,\n16219,\n16220,\n16221,\n16222,\n16223,\n16224,\n16225,\n16226,\n16227,\n16228,\n16229,\n16230,\n16231,\n16232,\n16233,\n16234,\n16235,\n16236,\n16237,\n16238,\n16239,\n16240,\n16241,\n16242,\n16243,\n16244,\n16245,\n16246,\n16247,\n16248,\n16249,\n16250,\n16476,\n16477,\n16478,\n16479,\n16480,\n16481,\n16482,\n16483,\n16484,\n16485,\n16486,\n16487,\n16488,\n16489,\n16490,\n16491,\n16492,\n16493,\n16494,\n16495,\n16496,\n16497,\n16498,\n16499,\n16500,\n16501,\n16502,\n16503,\n16504,\n16505,\n16508,\n16509,\n16511,\n16512,\n21113,\n21114,\n21115,\n21116,\n21117,\n21118,\n21119,\n21120,\n21121,\n21122,\n21123,\n21124,\n21125,\n21126,\n21127,\n21128,\n21129,\n21130,\n21131,\n21132,\n21137,\n21138,\n21139,\n21140,\n21150,\n21152,\n21153,\n21154,\n21155,\n21156,\n21157,\n21159,\n21160,\n21161,\n21162,\n21163,\n21164,\n21166,\n21167,\n21168,\n21169,\n21170,\n21171,\n21173,\n21174,\n21175,\n21176,\n21177,\n21178,\n21179,\n21180,\n21181,\n21182,\n21183,\n21184,\n21186,\n21187,\n21188,\n21189,\n21190,\n21191,\n21192,\n21193,\n21194,\n21195,\n21196,\n21197,\n21199,\n21200,\n21201,\n21202,\n21203,\n21204,\n21206,\n21207,\n21208,\n21209,\n21210,\n21211,\n21213,\n21214,\n21215,\n21216,\n21217,\n21218,\n21220,\n21221,\n21222,\n21223,\n21224,\n21225,\n21227,\n21228,\n21229,\n21230,\n21231,\n21232,\n21234,\n21235,\n21236,\n21237,\n21239,\n21240,\n21241,\n21242,\n21243,\n21244,\n21246,\n21247,\n21248,\n21249,\n21250,\n21251,\n21253,\n21254,\n21255,\n21256,\n21257,\n21258,\n21260,\n21261,\n21262,\n21263,\n21264,\n21265,\n21267,\n21268,\n21269,\n21270,\n21271,\n21272,\n21274,\n21275,\n21276,\n21277,\n21278,\n21279,\n21281,\n21282,\n21283,\n21284,\n21285,\n21286,\n21288,\n21289,\n21290,\n21291,\n21292,\n21293,\n21294,\n21295,\n21298,\n21299,\n21300,\n21301,\n21302,\n21303,\n21304,\n21305,\n21306,\n21307,\n21308,\n21309,\n21312,\n21313,\n21314,\n21315,\n21316,\n21317,\n21318,\n21319,\n21320,\n21321,\n21323,\n21324,\n21325,\n21326,\n21327,\n21328,\n21330,\n21331,\n21332,\n21333,\n21340,\n21341,\n21342,\n22728,\n22729,\n22730,\n22731,\n22732,\n22733,\n22734,\n22735,\n22736,\n22737,\n22738,\n22739,\n22740,\n22741,\n22742,\n22743,\n22744,\n22745,\n22746,\n22747,\n22748,\n22749,\n22750,\n22751,\n22765,\n22766,\n22767,\n22768,\n22769,\n22770,\n22771,\n22772,\n22773,\n22774,\n22775,\n22776,\n22777,\n22778,\n22779,\n22780,\n22781,\n22782,\n22783,\n22784,\n22785,\n22786,\n22787,\n22788,\n22789,\n22790,\n22791,\n22792,\n22793,\n22794,\n22795,\n22796,\n22797,\n22798,\n22799,\n22800,\n22801,\n22802,\n22803,\n22804,\n22805,\n22806,\n22807,\n22808,\n22809,\n22810,\n22811,\n22812,\n22813,\n22814,\n22815,\n22816,\n22817,\n22818,\n22819,\n22820,\n22821,\n22822,\n22823,\n22824,\n22825,\n22826,\n22827,\n22828,\n22829,\n22830,\n22831,\n22832,\n22833,\n22834,\n22835,\n22836,\n22837,\n22838,\n22839,\n22840,\n22841,\n22842,\n22843,\n22844,\n22845,\n22846,\n22847,\n22848,\n22849,\n22850,\n22851,\n22852,\n22853,\n22854,\n22859,\n22860,\n22861,\n22862,\n22863,\n22864,\n22865,\n22866,\n22867,\n22868,\n22869,\n22870,\n22871,\n22872,\n22873,\n22874,\n22875,\n22876,\n28134,\n28135,\n28136,\n28137,\n28138,\n28139,\n28140,\n28141,\n28142,\n28143,\n28186,\n28187,\n28248\n);"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_datos_1d_Siamflex",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SIAMFLEX_RAWHISTORY_PARAMETRIZADO",
						"type": "DatasetReference",
						"parameters": {
							"filename": "@{variables('v_nombre_tabla')}_HIS.parquet"
						}
					}
				]
			},
			{
				"name": "Insert_Historico_Delta",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Copy data to datos_1d",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "Insert_Parquet_to_Delta",
						"type": "NotebookReference"
					},
					"parameters": {
						"p_nombre_tabla": {
							"value": {
								"value": "datos_1d",
								"type": "Expression"
							},
							"type": "string"
						},
						"p_tipo_carga": {
							"value": "HISTORICO",
							"type": "string"
						},
						"p_origen": {
							"value": "SIAMFLEX",
							"type": "string"
						}
					},
					"snapshot": true
				}
			}
		],
		"parameters": {
			"historico_desde": {
				"type": "string"
			},
			"historico_hasta": {
				"type": "string"
			}
		},
		"variables": {
			"v_nombre_tabla": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Siamflex/History"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-10T21:26:29Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}